Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

update storyshots
  scripts/webpack.js
Due: none

Новые сториз для App (#98)
  scripts/webpack.js
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/TimerCat/animate.ts
  src/App/components/ToggleNav/ToggleNavLink.tsx
  src/App/stories/CodeOfConduct.stories.tsx
  src/App/stories/Home.stories.tsx
  src/App/stories/Partners.stories.tsx
  src/App/stories/Speakers.stories.tsx
  src/App/stories/Team.stories.tsx
  src/App/stories/Typography.stories.tsx
  test/__image_snapshots__/App|CodeOfConduct__en-snap.png
  test/__image_snapshots__/App|CodeOfConduct__ru-snap.png
  test/__image_snapshots__/App|Home__en-snap.png
  test/__image_snapshots__/App|Home__ru-snap.png
  test/__image_snapshots__/App|Partners__en-snap.png
  test/__image_snapshots__/App|Partners__ru-snap.png
  test/__image_snapshots__/App|Speakers__en-snap.png
  test/__image_snapshots__/App|Speakers__ru-snap.png
  test/__image_snapshots__/App|Team__en-snap.png
  test/__image_snapshots__/App|Team__ru-snap.png
  test/__image_snapshots__/App|Typography__typography-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-badge-and-contacts-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-badge-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-default-data-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-link-snap.png
  test/__image_snapshots__/Components|SpeakerCard__with-default-data-snap.png
Due: trigen-scripts lint:ts

fix modal hide
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

Поправить роутинг для спикеров (#89)
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/common/router.ts
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

add st-extends
  src/App/blocks/Footer/Footer.st.css
  src/App/components/ContactLink/ContactLink.st.css
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/ToggleNav/ToggleNav.st.css
Due: trigen-scripts lint:styles

add coc image
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
  src/App/blocks/CodeOfConduct/CodeOfConduct.tsx
  src/App/blocks/Facts/Facts.tsx
  src/App/icons/coc.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix first img in mobile
  src/App/blocks/Facts/Facts.st.css
  src/App/blocks/Facts/Facts.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

snapshots
  jest.config.json
  package.json
  test/__image_snapshots__/storyshots-spec-ts-pages-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-code-of-conduct-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-noop-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-partners-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-partners-type-all-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-ru-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-ru-code-of-conduct-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-ru-partners-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-ru-partners-type-all-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-ru-speakers-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-ru-speakers-id-leonid-kalneus-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-ru-speakers-type-all-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-ru-team-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-speakers-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-speakers-id-leonid-kalneus-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-speakers-type-all-1-snap.png
  test/__image_snapshots__/storyshots-spec-ts-pages-team-1-snap.png
  test/storyshots.spec.ts
  yarn.lock
Due: none

fix haeaders font size
  src/App/blocks/Facts/Facts.st.css
Due: trigen-scripts lint:styles

fix modal paddings, and team icons
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/containers/Speakers/SpeakerModal.st.css
Due: trigen-scripts lint:styles

deps upd
  package.json
  yarn.lock
Due: none

routeshots
  package.json
  test/storyshots.spec.ts
Due: none

change spinner animation
  src/App/components/Loading/Loading.st.css
  src/App/components/Spinner/Spinner.st.css
  src/App/components/Spinner/Spinner.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix console errors
  src/App/components/Spinner/Spinner.tsx
Due: trigen-scripts lint:ts

storybook fix
  src/App/components/Loading/Loading.stories.tsx
  src/App/components/Loading/Loading.tsx
  src/App/components/Spinner/Spinner.stories.tsx
Due: trigen-scripts lint:ts

color fix
  src/App/components/Spinner/Spinner.st.css
Due: trigen-scripts lint:styles

Компоненты Spiner и Loading (#97)
  src/App/components/Loading/Loading.st.css
  src/App/components/Loading/Loading.stories.tsx
  src/App/components/Loading/Loading.tsx
  src/App/components/Spinner/Spinner.st.css
  src/App/components/Spinner/Spinner.stories.tsx
  src/App/components/Spinner/Spinner.tsx
  src/App/components/Spinner/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

update storyshots
  test/__image_snapshots__/Blocks|Speakers__with-basic-state-snap.png
  test/__image_snapshots__/Blocks|Team__with-basic-state-snap.png
  test/__image_snapshots__/Components|Loading__with-children-snap.png
  test/__image_snapshots__/Components|Loading__with-default-state-snap.png
  test/__image_snapshots__/Components|Spinner__with-children-snap.png
  test/__image_snapshots__/Components|Spinner__with-default-state-snap.png
  test/__image_snapshots__/Containers|Speakers__with-default-state-snap.png
  test/__image_snapshots__/Containers|Team__with-default-state-snap.png
  test/__image_snapshots__/Route__ru-speakers-id-LeonidKalneus-snap.png
  test/__image_snapshots__/Route__ru-speakers-snap.png
  test/__image_snapshots__/Route__ru-speakers-type-all-snap.png
  test/__image_snapshots__/Route__ru-team-snap.png
  test/__image_snapshots__/Route__speakers-id-LeonidKalneus-snap.png
  test/__image_snapshots__/Route__speakers-snap.png
  test/__image_snapshots__/Route__speakers-type-all-snap.png
  test/__image_snapshots__/Route__team-snap.png
Due: none

Background image -> img + object-fit (#99)
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.tsx
  test/__image_snapshots__/Blocks|Speakers__with-basic-state-snap.png
  test/__image_snapshots__/Blocks|Team__with-basic-state-snap.png
  test/__image_snapshots__/Components|Loading__with-children-snap.png
  test/__image_snapshots__/Components|Loading__with-default-state-snap.png
  test/__image_snapshots__/Components|Spinner__with-children-snap.png
  test/__image_snapshots__/Components|Spinner__with-default-state-snap.png
  test/__image_snapshots__/Containers|Speakers__with-default-state-snap.png
  test/__image_snapshots__/Containers|Team__with-default-state-snap.png
  test/__image_snapshots__/Route__ru-speakers-id-LeonidKalneus-snap.png
  test/__image_snapshots__/Route__ru-speakers-snap.png
  test/__image_snapshots__/Route__ru-speakers-type-all-snap.png
  test/__image_snapshots__/Route__ru-team-snap.png
  test/__image_snapshots__/Route__speakers-id-LeonidKalneus-snap.png
  test/__image_snapshots__/Route__speakers-snap.png
  test/__image_snapshots__/Route__speakers-type-all-snap.png
  test/__image_snapshots__/Route__team-snap.png
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component/SpeakersPromo
  src/App/blocks/SpeakersPromo/SpeakersPromo.st.css
  src/App/blocks/SpeakersPromo/SpeakersPromo.stories.tsx
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/SpeakersPromo/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style
  src/App/blocks/SpeakersPromo/SpeakersPromo.st.css
Due: trigen-scripts lint:styles

add lazy for Photo block
  src/App/blocks/Photos/Photos.tsx
Due: trigen-scripts lint:ts

img lazy loading (#100)
  src/App/blocks/Photos/Photos.tsx
  src/App/components/Brands/BrandsItem.tsx
  src/App/components/PartnerCard/PartnerCard.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/globals.d.ts
Due: trigen-scripts lint:ts

remove title from svg, use noSize instead unsetSize
  src/App/blocks/CodeOfConduct/CodeOfConduct.tsx
  src/App/blocks/Facts/Facts.tsx
  src/App/icons/also.svg
  src/App/icons/coc.svg
  src/App/icons/envelope.svg
  src/App/icons/topics.svg
  src/App/icons/workshops.svg
Due: trigen-scripts lint:ts

fix some style
  src/App/components/LoginModal/LoginModal.st.css
Due: trigen-scripts lint:styles

fix SpeakerCard props
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:ts

Добавить картинки в блок Facts (#106)
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
  src/App/blocks/CodeOfConduct/CodeOfConduct.tsx
  src/App/blocks/Facts/Facts.st.css
  src/App/blocks/Facts/Facts.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/icons/also.svg
  src/App/icons/coc.svg
  src/App/icons/envelope.svg
  src/App/icons/topics.svg
  src/App/icons/workshops.svg
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

update storyshots
  test/__image_snapshots__/Blocks|CodeOfConduct__with-basic-state-snap.png
  test/__image_snapshots__/Blocks|Facts__with-basic-state-snap.png
  test/__image_snapshots__/Blocks|Location__with-basic-state-snap.png
  test/__image_snapshots__/Containers|CodeOfConduct__with-default-state-snap.png
  test/__image_snapshots__/Containers|Index__with-default-state-snap.png
  test/__image_snapshots__/Route__-snap.png
  test/__image_snapshots__/Route__code-of-conduct-snap.png
  test/__image_snapshots__/Route__ru-code-of-conduct-snap.png
  test/__image_snapshots__/Route__ru-snap.png
Due: none

upd deps
  package.json
  test/__image_snapshots__/Blocks|CodeOfConduct__with-basic-state-snap.png
  test/__image_snapshots__/Blocks|Facts__with-basic-state-snap.png
  test/__image_snapshots__/Components|Loading__with-children-snap.png
  test/__image_snapshots__/Components|Loading__with-default-state-snap.png
  test/__image_snapshots__/Components|Spinner__with-children-snap.png
  test/__image_snapshots__/Components|Spinner__with-default-state-snap.png
  test/__image_snapshots__/Containers|CodeOfConduct__with-default-state-snap.png
  test/__image_snapshots__/Containers|Index__with-default-state-snap.png
  test/storyshots.spec.ts
  yarn.lock
Due: none

enhancement/Facts-mobile-image
  src/App/blocks/Facts/Facts.st.css
Due: trigen-scripts lint:styles

Компонент TicketForm (#84)
  src/App/components/FormGroup/FormGroup.st.css
  src/App/components/FormGroup/FormGroup.stories.tsx
  src/App/components/FormGroup/FormGroup.tsx
  src/App/components/FormGroup/index.ts
  src/App/components/TicketForm/TicketForm.st.css
  src/App/components/TicketForm/TicketForm.stories.tsx
  src/App/components/TicketForm/TicketForm.tsx
  src/App/components/TicketForm/TicketFormCheckbox/TicketFormCheckbox.st.css
  src/App/components/TicketForm/TicketFormCheckbox/TicketFormCheckbox.tsx
  src/App/components/TicketForm/TicketFormCheckbox/index.ts
  src/App/components/TicketForm/TicketFormFooter/TicketFormFooter.st.css
  src/App/components/TicketForm/TicketFormFooter/TicketFormFooter.tsx
  src/App/components/TicketForm/TicketFormFooter/index.ts
  src/App/components/TicketForm/TicketFormRow.tsx
  src/App/components/TicketForm/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/Facts-mobile-image (#110)
  src/App/blocks/Facts/Facts.st.css
Due: trigen-scripts lint:styles

rework with components
  src/App/components/TicketPreview/TickerPreviewField/TickerPreviewField.st.css
  src/App/components/TicketPreview/TickerPreviewField/TickerPreviewField.tsx
  src/App/components/TicketPreview/TickerPreviewField/index.ts
  src/App/components/TicketPreview/TickerPreviewGroup.tsx
  src/App/components/TicketPreview/TickerPreviewPrimary/TickerPreviewPrimary.st.css
  src/App/components/TicketPreview/TickerPreviewPrimary/TickerPreviewPrimary.tsx
  src/App/components/TicketPreview/TickerPreviewPrimary/index.ts
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.st.css
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.tsx
  src/App/components/TicketPreview/TicketPreviewAuxiliary/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix storybook
  src/App/components/TicketPreview/TicketPreview.stories.tsx
Due: trigen-scripts lint:ts

component/Carousel
  package.json
  src/App/components/Brands/Brands.st.css
  src/App/components/Carousel/Carousel.st.css
  src/App/components/Carousel/Carousel.stories.tsx
  src/App/components/Carousel/Carousel.tsx
  src/App/components/Carousel/index.ts
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

change name
  src/App/components/Carousel/Carousel.tsx
Due: trigen-scripts lint:ts

component/TabsNav
  src/App/components/TabsNav/TabsNav.st.css
  src/App/components/TabsNav/TabsNav.stories.tsx
  src/App/components/TabsNav/TabsNav.tsx
  src/App/components/TabsNav/TabsNavItem.tsx
  src/App/components/TabsNav/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add active style for not first and not last child
  src/App/components/TabsNav/TabsNav.st.css
  src/App/components/TabsNav/TabsNav.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
