Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

stylable 2
  test/storyshots.spec.ts
Due: none

stylable 2
  package.json
Due: none

merged
  yarn.lock
Due: none

fix stylable usage
  src/App/components/FormGroup/FormGroup.tsx
  src/App/components/TicketForm/TicketForm.tsx
  src/App/components/TicketForm/TicketFormFooter/TicketFormFooter.tsx
  src/App/components/TicketForm/TicketFormGroup.tsx
  src/App/components/TicketForm/TicketFormLabel.tsx
  src/App/components/TicketForm/TicketFormRow.tsx
Due: trigen-scripts lint:ts

fix stylable usage
  src/App/components/TicketPreview/TicketPreview.tsx
Due: trigen-scripts lint:ts

fix types
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

rm warnings
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:ts

Async ssr (#92)
  .babelrc
  package.json
  scripts/webpack.js
  src/App/App.tsx
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Main/Main.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/components/TimerCat/TimerCat.tsx
  src/App/components/TimerCat/icon/date.tsx
  src/App/components/TimerCat/loadable.tsx
  src/App/containers/CodeOfConduct/loadable.tsx
  src/App/containers/Index/loadable.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/data/index.ts
  src/App/index.tsx
  src/App/render.tsx
  src/App/routes.ts
  yarn.lock
Due: trigen-scripts lint:ts

fix togglenav
  src/App/components/ToggleNav/ToggleNav.stories.tsx
  src/App/components/ToggleNav/ToggleNavLink.tsx
Due: trigen-scripts lint:ts

fix togglenav
  src/App/components/Weather/Weather.mock.ts
  test/__image_snapshots__/Components|PartnerCard__with-text-snap.png
  test/__image_snapshots__/Components|PartnerCard__without-text-snap.png
  test/__image_snapshots__/Components|Section__with-content-snap.png
  test/__image_snapshots__/Components|Typography__typography-snap.png
  test/__image_snapshots__/Navigator__with-3-items-snap.png
  test/__image_snapshots__/TodoItem__with-basic-data-snap.png
  test/__image_snapshots__/TodoList__with-basic-data-snap.png
  test/__image_snapshots__/WeatherList__with-items-snap.png
  test/__image_snapshots__/Weather__with-basic-data-snap.png
  test/__image_snapshots__/Weather__with-small-size-snap.png
Due: trigen-scripts lint:ts

fix togglenav
  test/__image_snapshots__/Components|ToggleNav__with-query-param-snap.png
Due: none

fix togglenav
  test/__image_snapshots__/Components|PartnerCard__with-text-snap.png
  test/__image_snapshots__/Components|PartnerCard__without-text-snap.png
  test/__image_snapshots__/Components|Section__with-content-snap.png
  test/__image_snapshots__/Components|Typography__typography-snap.png
  test/__image_snapshots__/Navigator__with-3-items-snap.png
  test/__image_snapshots__/TodoItem__with-basic-data-snap.png
  test/__image_snapshots__/TodoList__with-basic-data-snap.png
  test/__image_snapshots__/WeatherList__with-items-snap.png
  test/__image_snapshots__/Weather__with-basic-data-snap.png
  test/__image_snapshots__/Weather__with-small-size-snap.png
Due: none

css order mod
  src/App/App.tsx
Due: trigen-scripts lint:ts

add Modal interface, add deleteSearchparams
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/common/router.ts
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

fix indents
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

component/Spiner-and-Loading
  src/App/components/Loading/Loading.st.css
  src/App/components/Loading/Loading.stories.tsx
  src/App/components/Spinner/Spinner.st.css
  src/App/components/Spinner/Spinner.stories.tsx
  src/App/components/Spinner/Spinner.tsx
  src/App/components/Spinner/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

rename interface, add reqEx for check id
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

% -> vh
  src/App/components/Loading/Loading.st.css
  src/App/components/Loading/Loading.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/App-stories
  src/App/App.stories.tsx
Due: trigen-scripts lint:ts

enhancement/images
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/images-lazy-loading
  src/App/components/Brands/BrandsItem.tsx
  src/App/components/PartnerCard/PartnerCard.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/globals.d.ts
Due: trigen-scripts lint:ts

fix/stylable
  src/App/App.tsx
  src/App/blocks/Footer/Footer.st.css
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/ToggleNav/ToggleNav.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix import
  src/App/components/ProfileCard/ProfileCard.st.css
Due: trigen-scripts lint:styles

dep upd
  package.json
  yarn.lock
Due: none

add TicketFormCheckbox, remove label etc
  src/App/components/TicketForm/TicketForm.st.css
  src/App/components/TicketForm/TicketForm.stories.tsx
  src/App/components/TicketForm/TicketForm.tsx
  src/App/components/TicketForm/TicketFormCheckbox/TicketFormCheckbox.st.css
  src/App/components/TicketForm/TicketFormCheckbox/TicketFormCheckbox.tsx
  src/App/components/TicketForm/TicketFormCheckbox/index.ts
  src/App/components/TicketForm/TicketFormFooter/TicketFormFooter.st.css
  src/App/components/TicketForm/TicketFormGroup.tsx
  src/App/components/TicketForm/TicketFormLabel.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style for footer
  src/App/components/TicketForm/TicketFormFooter/TicketFormFooter.st.css
Due: trigen-scripts lint:styles

fix some style for footer, add reexport
  src/App/components/TicketForm/TicketForm.st.css
Due: trigen-scripts lint:styles

component/Login
  src/App/components/FormGroup/FormGroup.tsx
  src/App/components/LoginModal/LoginModal.st.css
  src/App/components/LoginModal/LoginModal.stories.tsx
  src/App/components/LoginModal/LoginModal.tsx
  src/App/components/LoginModal/LoginModalFooter/LoginModalFooter.st.css
  src/App/components/LoginModal/LoginModalFooter/LoginModalFooter.tsx
  src/App/components/LoginModal/LoginModalFooter/index.ts
  src/App/components/LoginModal/LoginModalForm.tsx
  src/App/components/LoginModal/LoginModalLink.tsx
  src/App/components/LoginModal/LoginModalTitle.tsx
  src/App/components/LoginModal/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add reexport footer
  src/App/components/LoginModal/LoginModal.st.css
Due: trigen-scripts lint:styles

fix border-radius
  src/App/components/LoginModal/LoginModal.st.css
Due: trigen-scripts lint:styles

formGroup fix, remove notice prop
  src/App/components/FormGroup/FormGroup.tsx
Due: trigen-scripts lint:ts

storybook fix
  src/App/components/LoginModal/LoginModal.stories.tsx
Due: trigen-scripts lint:ts

wip
  scripts/App.stories/CodeOfConduct.stories.tsx
  scripts/App.stories/Home.stories.tsx
  scripts/App.stories/Partners.stories.tsx
  scripts/App.stories/Speakers.stories.tsx
  scripts/App.stories/Team.stories.tsx
  scripts/webpack.js
  src/App/App.stories.tsx
  src/App/Typography.stories.tsx
  src/App/components/TimerCat/animate.ts
  src/App/components/ToggleNav/ToggleNavLink.tsx
  test/__image_snapshots__/App|Typography__typography-snap.png
  test/__image_snapshots__/__diff_output__/Blocks|Main__with-basic-state-diff.png
  test/__image_snapshots__/__diff_output__/Components|ProfileCard__with-badge-and-contacts-diff.png
  test/__image_snapshots__/__diff_output__/Components|ProfileCard__with-badge-diff.png
  test/__image_snapshots__/__diff_output__/Components|ProfileCard__with-default-data-diff.png
  test/__image_snapshots__/__diff_output__/Components|ProfileCard__with-link-diff.png
  test/__image_snapshots__/__diff_output__/Components|Section__with-content-diff.png
  test/__image_snapshots__/__diff_output__/Components|SpeakerCard__with-default-data-diff.png
  test/storyshots.spec.ts
Due: trigen-scripts lint:ts

enhancement/Facts-image
  src/App/blocks/Facts/Facts.st.css
  src/App/blocks/Facts/Facts.tsx
  src/App/icons/also.svg
  src/App/icons/topics.svg
  src/App/icons/workshops.svg
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

some css fix
  src/App/blocks/Facts/Facts.st.css
Due: trigen-scripts lint:styles

add some mobile style
  src/App/blocks/Facts/Facts.st.css
Due: trigen-scripts lint:styles

update storyshots
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/stories/CodeOfConduct.stories.tsx
  src/App/stories/Home.stories.tsx
  src/App/stories/Partners.stories.tsx
  src/App/stories/Speakers.stories.tsx
  src/App/stories/Team.stories.tsx
  src/App/stories/Typography.stories.tsx
  test/__image_snapshots__/App|CodeOfConduct__en-snap.png
  test/__image_snapshots__/App|CodeOfConduct__ru-snap.png
  test/__image_snapshots__/App|Home__en-snap.png
  test/__image_snapshots__/App|Home__ru-snap.png
  test/__image_snapshots__/App|Partners__en-snap.png
  test/__image_snapshots__/App|Partners__ru-snap.png
  test/__image_snapshots__/App|Speakers__en-snap.png
  test/__image_snapshots__/App|Speakers__ru-snap.png
  test/__image_snapshots__/App|Team__en-snap.png
  test/__image_snapshots__/App|Team__ru-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-badge-and-contacts-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-badge-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-default-data-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-link-snap.png
  test/__image_snapshots__/Components|SpeakerCard__with-default-data-snap.png
  test/__image_snapshots__/__diff_output__/Blocks|Main__with-basic-state-diff.png
  test/__image_snapshots__/__diff_output__/Components|ProfileCard__with-badge-and-contacts-diff.png
  test/__image_snapshots__/__diff_output__/Components|ProfileCard__with-badge-diff.png
  test/__image_snapshots__/__diff_output__/Components|ProfileCard__with-default-data-diff.png
  test/__image_snapshots__/__diff_output__/Components|ProfileCard__with-link-diff.png
  test/__image_snapshots__/__diff_output__/Components|Section__with-content-diff.png
  test/__image_snapshots__/__diff_output__/Components|SpeakerCard__with-default-data-diff.png
  test/storyshots.spec.ts
Due: trigen-scripts lint:ts

update storyshots
  test/__image_snapshots__/App|Home__en-snap.png
Due: none
