Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

add workshop stuff
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove unnecessary css class
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

remove disabled btn, add div instead
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add some mobile style
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles

enhancement/Speakers-update
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

change some translate
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

spaces add
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

Перенести спикеров (#180)
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

add some style, for mob and desk
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove important from border
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles

remove workshop div
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/ContactLink
  src/App/components/ContactLink/ContactLink.tsx
  src/App/icons/github.svg
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

fix name
  src/App/components/ContactLink/ContactLink.tsx
Due: trigen-scripts lint:ts

photos chrome fix
  src/App/blocks/Photos/Photos.st.css
Due: trigen-scripts lint:styles

add spaces, add new git link
  src/App/components/ContactLink/ContactLink.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

Добавить иконку git в ContactLink (#182)
  src/App/components/ContactLink/ContactLink.tsx
  src/App/icons/github.svg
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

fix font-size, padding etc
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix badge margin
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles

add padding to controls
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles

Компонент Schedule (#172)
  .storybook/config.js
  .storybook/injectTestIcon.js
  .storybook/storybook.css
  .storybook/testIcon.svg
  src/App/components/Badge/Badge.st.css
  src/App/components/Badge/Badge.tsx
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/Schedule/Schedule.st.css
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.st.css
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.tsx
  src/App/components/Schedule/ScheduleFavoriteButton/index.ts
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItem/index.ts
  src/App/components/Schedule/ScheduleSeparator/ScheduleSeparator.st.css
  src/App/components/Schedule/ScheduleSeparator/ScheduleSeparator.tsx
  src/App/components/Schedule/ScheduleSeparator/index.ts
  src/App/components/Schedule/index.ts
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/components/variables.st.css
  src/App/icons/also.svg
  src/App/icons/email.svg
  src/App/icons/facebook.svg
  src/App/icons/logo.svg
  src/App/icons/meetup.svg
  src/App/icons/site.svg
  src/App/icons/star.svg
  src/App/icons/telegram.svg
  src/App/icons/twitter.svg
  src/App/icons/vk.svg
  src/App/icons/workshops.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component/Schedule-container
  src/App/App.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.st.css
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/index.ts
  src/App/containers/Schedule/loadable.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/routes.ts
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add active style for badge
  src/App/containers/Schedule/Schedule.st.css
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add filter title
  src/App/containers/Schedule/Schedule.st.css
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add new color for web badge
  src/App/components/Badge/Badge.st.css
  src/App/components/Badge/Badge.tsx
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/variables.st.css
  src/App/containers/Schedule/Schedule.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add dynamic color changes depends on time
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

indents fix
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

remove status from locale.json
  src/App/locales/en.json
Due: none

add noColor state, remove long css rules
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add formatDate function
  src/App/containers/Schedule/Schedule.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:ts

add test comment
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

little changes
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

props order fix
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

add datetime optional prop to Schedule contaier
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

add style for am pm, change formatDate func
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

change color for am pm
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles

add 3 new filter items
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.st.css
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/locales/en.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/containers/Schedule/Schedule.st.css
Due: trigen-scripts lint:styles

some fixes, destructuring etc
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:ts

add initial date when component mount
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

little fix
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.stories.tsx
Due: trigen-scripts lint:ts
