Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

final changes
  src/App/components/Nav/Nav.st.css
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles

Компонент Nav (#11)
  .storybook/addons.js
  package.json
  src/App/components/Link/Link.tsx
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.stories.tsx
  src/App/components/Nav/Nav.tsx
  src/App/components/Nav/NavLink.tsx
  src/App/components/Nav/index.ts
  src/App/components/variables.st.css
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Main block is done
  src/App/blocks/Main/Main.st.css
  src/App/blocks/Main/Main.stories.tsx
  src/App/blocks/Main/Main.tsx
  src/App/blocks/Main/index.ts
  src/App/components/Main/Main.st.css
  src/App/components/Main/Main.stories.tsx
  src/App/components/Main/Main.tsx
  src/App/components/Section/Section.st.css
  src/App/components/Section/Section.tsx
  src/App/components/Section/index.ts
  src/App/components/TimerCat/TimerCat.tsx
  src/App/components/TimerCat/icon/index.tsx
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Блок Main (#12)
  package.json
  src/App/blocks/Main/Main.st.css
  src/App/blocks/Main/Main.stories.tsx
  src/App/blocks/Main/Main.tsx
  src/App/blocks/Main/index.ts
  src/App/components/Section/Section.st.css
  src/App/components/Section/Section.stories.tsx
  src/App/components/Section/Section.tsx
  src/App/components/Section/index.ts
  src/App/components/TimerCat/TimerCat.stories.tsx
  src/App/components/TimerCat/TimerCat.tsx
  src/App/components/TimerCat/animate.ts
  src/App/components/TimerCat/icon/counter.tsx
  src/App/components/TimerCat/icon/date.tsx
  src/App/components/TimerCat/icon/index.tsx
  src/App/components/TimerCat/index.ts
  src/App/components/TimerCat/types.ts
  src/App/components/variables.st.css
  src/App/data/index.ts
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component header
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.stories.tsx
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderLink.tsx
  src/App/blocks/Header/HeaderNav.tsx
  src/App/blocks/Header/HeaderSpacer.tsx
  src/App/blocks/Header/index.ts
  src/App/components/Button/Button.st.css
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.stories.tsx
  src/App/components/Nav/NavLink.tsx
  src/App/globals.d.ts
  src/App/icons/logo.svg
  src/App/icons/share.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix linter warnings
  src/App/blocks/Header/Header.st.css
Due: trigen-scripts lint:styles

wip
  package.json
  src/App/blocks/Location/Location.st.css
  src/App/blocks/Location/Location.stories.tsx
  src/App/blocks/Location/Location.tsx
  src/App/blocks/Location/index.ts
  src/App/data/index.ts
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix NavLink to render with li, fix header storybook etc
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.stories.tsx
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderNav.tsx
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.tsx
  src/App/components/Nav/NavLink.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

location block is done
  src/App/blocks/Location/Location.st.css
  src/App/blocks/Location/Location.tsx
  src/App/blocks/Main/Main.st.css
  src/App/components/variables.st.css
  src/App/data/index.ts
  src/App/globals.d.ts
  src/App/icons/pin.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Блок Location (#14)
  package.json
  src/App/blocks/Location/Location.st.css
  src/App/blocks/Location/Location.stories.tsx
  src/App/blocks/Location/Location.tsx
  src/App/blocks/Location/index.ts
  src/App/blocks/Main/Main.st.css
  src/App/components/variables.st.css
  src/App/data/index.ts
  src/App/globals.d.ts
  src/App/icons/pin.svg
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

changes
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderNav.tsx
  src/App/blocks/Header/HeaderSpacer.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/blocks/Header/Header.st.css
  src/App/components/Nav/Nav.st.css
Due: trigen-scripts lint:styles

Компонент Header (#13)
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.stories.tsx
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderLink.tsx
  src/App/blocks/Header/HeaderNav.tsx
  src/App/blocks/Header/HeaderSpacer.tsx
  src/App/blocks/Header/index.ts
  src/App/components/Button/Button.st.css
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.stories.tsx
  src/App/components/Nav/Nav.tsx
  src/App/components/Nav/NavLink.tsx
  src/App/icons/logo.svg
  src/App/icons/share.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component ContactLink
  src/App/components/ContactLink/ContactLink.st.css
  src/App/components/ContactLink/ContactLink.stories.tsx
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/ContactLink/index.ts
  src/App/icons/email-icon.svg
  src/App/icons/site-icon.svg
  src/App/icons/telegram-icon.svg
  src/App/icons/twitter-icon.svg
  src/App/icons/vk-icon.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

icon structure fix, import order fix
  src/App/components/ContactLink/ContactLink.tsx
  src/App/icons/email-icon.svg
  src/App/icons/site-icon.svg
  src/App/icons/telegram-icon.svg
  src/App/icons/twitter-icon.svg
  src/App/icons/vk-icon.svg
Due: trigen-scripts lint:ts

component checkbox
  src/App/blocks/Header/Header.st.css
  src/App/components/Checkbox/Checkbox.st.css
  src/App/components/Checkbox/Checkbox.stories.tsx
  src/App/components/Checkbox/Checkbox.tsx
  src/App/components/Checkbox/index.ts
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/components/ContactLink/ContactLink.st.css
  src/App/components/ContactLink/ContactLink.stories.tsx
  src/App/components/ContactLink/ContactLink.tsx
  src/App/icons/email.svg
  src/App/icons/site.svg
  src/App/icons/telegram.svg
  src/App/icons/twitter.svg
  src/App/icons/vk.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/components/ContactLink/ContactLink.st.css
Due: trigen-scripts lint:styles

Компонент ContactLink (#19)
  src/App/components/ContactLink/ContactLink.st.css
  src/App/components/ContactLink/ContactLink.stories.tsx
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/ContactLink/index.ts
  src/App/icons/email.svg
  src/App/icons/site.svg
  src/App/icons/telegram.svg
  src/App/icons/twitter.svg
  src/App/icons/vk.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/components/Checkbox/Checkbox.st.css
Due: trigen-scripts lint:styles

Компонент Checkbox (#20)
  src/App/blocks/Header/Header.st.css
  src/App/components/Checkbox/Checkbox.st.css
  src/App/components/Checkbox/Checkbox.stories.tsx
  src/App/components/Checkbox/Checkbox.tsx
  src/App/components/Checkbox/index.ts
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component Badge
  src/App/components/Badge/Badge.st.css
  src/App/components/Badge/Badge.stories.tsx
  src/App/components/Badge/Badge.tsx
  src/App/components/Badge/index.ts
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add font-family to variables.st.css, fix some css
  src/App/App.st.css
  src/App/components/Badge/Badge.st.css
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles

Компонент Badge (#21)
  src/App/App.st.css
  src/App/components/Badge/Badge.st.css
  src/App/components/Badge/Badge.stories.tsx
  src/App/components/Badge/Badge.tsx
  src/App/components/Badge/index.ts
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component ProfileCard
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/components/ProfileCard/index.ts
  src/App/components/ProfileCard/mock.ts
  src/App/models/Contact.mock.ts
  src/App/models/Contact.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Partners block
  src/App/App.st.css
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Location/Location.tsx
  src/App/blocks/Main/Main.tsx
  src/App/blocks/Partners/Partners.st.css
  src/App/blocks/Partners/Partners.stories.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/Partners/index.ts
  src/App/components/Brands/Brands.st.css
  src/App/components/Brands/Brands.stories.tsx
  src/App/components/Brands/Brands.tsx
  src/App/components/Brands/BrandsItem.tsx
  src/App/components/Brands/BrandsRow.tsx
  src/App/components/Brands/BrandsTitle.tsx
  src/App/components/Brands/index.ts
  src/App/components/ContactLink/ContactLink.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Partners block (#24)
  src/App/App.st.css
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Location/Location.tsx
  src/App/blocks/Main/Main.tsx
  src/App/blocks/Partners/Partners.st.css
  src/App/blocks/Partners/Partners.stories.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/Partners/index.ts
  src/App/components/Brands/Brands.st.css
  src/App/components/Brands/Brands.stories.tsx
  src/App/components/Brands/Brands.tsx
  src/App/components/Brands/BrandsItem.tsx
  src/App/components/Brands/BrandsRow.tsx
  src/App/components/Brands/BrandsTitle.tsx
  src/App/components/Brands/index.ts
  src/App/components/ContactLink/ContactLink.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove immutabele usage, rem -> em fix
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/components/ProfileCard/mock.ts
  src/App/models/Contact.mock.ts
  src/App/models/Contact.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

storybook fix
  src/App/components/ProfileCard/ProfileCard.stories.tsx
Due: trigen-scripts lint:ts

storybook Stylable API fix
  src/App/components/ProfileCard/ProfileCard.stories.tsx
Due: trigen-scripts lint:ts

component footer
  src/App/blocks/Footer/Footer.st.css
  src/App/blocks/Footer/Footer.stories.tsx
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/Footer/index.ts
  src/App/icons/envelope.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add content for ContactLink
  src/App/blocks/Footer/Footer.tsx
Due: trigen-scripts lint:ts

responsive refactor, Facts block
  src/App/App.st.css
  src/App/blocks/Facts/Facts.st.css
  src/App/blocks/Facts/Facts.stories.tsx
  src/App/blocks/Facts/Facts.tsx
  src/App/blocks/Facts/index.ts
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Location/Location.st.css
  src/App/blocks/Main/Main.st.css
  src/App/blocks/Partners/Partners.st.css
  src/App/blocks/landing.stories.tsx
  src/App/components/Badge/Badge.st.css
  src/App/components/Brands/Brands.st.css
  src/App/components/BurgerButton/BurgerButton.st.css
  src/App/components/Checkbox/Checkbox.st.css
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.tsx
  src/App/components/Section/Section.st.css
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

responsive refactor, Facts block (#27)
  src/App/App.st.css
  src/App/blocks/Facts/Facts.st.css
  src/App/blocks/Facts/Facts.stories.tsx
  src/App/blocks/Facts/Facts.tsx
  src/App/blocks/Facts/index.ts
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Location/Location.st.css
  src/App/blocks/Main/Main.st.css
  src/App/blocks/Partners/Partners.st.css
  src/App/blocks/landing.stories.tsx
  src/App/components/Badge/Badge.st.css
  src/App/components/Brands/Brands.st.css
  src/App/components/BurgerButton/BurgerButton.st.css
  src/App/components/Checkbox/Checkbox.st.css
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.tsx
  src/App/components/Section/Section.st.css
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component Subscribe
  src/App/blocks/Subscribe/Subscribe.st.css
  src/App/blocks/Subscribe/Subscribe.stories.tsx
  src/App/blocks/Subscribe/Subscribe.tsx
  src/App/blocks/Subscribe/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

button padding fix
  src/App/blocks/Subscribe/Subscribe.st.css
Due: trigen-scripts lint:styles

add events handlers
  src/App/blocks/Subscribe/Subscribe.tsx
Due: trigen-scripts lint:ts

pull master, fix css rem em etc
  src/App/blocks/Footer/Footer.st.css
Due: trigen-scripts lint:styles

padding add to root remove from center
  src/App/blocks/Footer/Footer.st.css
Due: trigen-scripts lint:styles

pull master, rem em, add required to input
  src/App/blocks/Subscribe/Subscribe.st.css
  src/App/blocks/Subscribe/Subscribe.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts
