Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

remove clickable props, if to add clickable etc
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix component render
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix link inside link when pass to prop
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

render fix
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:ts

remove copy paste code, add some style
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove renderProfile method
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:ts

pink border only on hover focus
  src/App/components/ProfileCard/ProfileCard.st.css
Due: trigen-scripts lint:styles

focus -> focus-within
  src/App/components/ProfileCard/ProfileCard.st.css
Due: trigen-scripts lint:styles

Hover/focus стили для ProfileCard (#60)
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component ToggleNav
  src/App/components/ToggleNav/ToggleNav.st.css
  src/App/components/ToggleNav/ToggleNav.stories.tsx
  src/App/components/ToggleNav/ToggleNav.tsx
  src/App/components/ToggleNav/ToggleNavLink.tsx
  src/App/components/ToggleNav/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix border
  src/App/components/ToggleNav/ToggleNav.st.css
Due: trigen-scripts lint:styles

border with flex
  src/App/components/ToggleNav/ToggleNav.st.css
Due: trigen-scripts lint:styles

margin item whne mobile fix
  src/App/components/ToggleNav/ToggleNav.st.css
Due: trigen-scripts lint:styles

remove unnecessary css rules
  src/App/components/ToggleNav/ToggleNav.st.css
Due: trigen-scripts lint:styles

remove position relative
  src/App/components/ToggleNav/ToggleNav.st.css
Due: trigen-scripts lint:styles

Компонент ToggleNav (#62)
  src/App/components/ToggleNav/ToggleNav.st.css
  src/App/components/ToggleNav/ToggleNav.stories.tsx
  src/App/components/ToggleNav/ToggleNav.tsx
  src/App/components/ToggleNav/ToggleNavLink.tsx
  src/App/components/ToggleNav/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement Team-Speakers
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Team/Team.st.css
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix mobile style
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Team/Team.st.css
Due: trigen-scripts lint:styles

component CodeOfConduct
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
  src/App/blocks/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/blocks/CodeOfConduct/CodeOfConduct.tsx
  src/App/blocks/CodeOfConduct/index.ts
  src/App/containers/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/containers/CodeOfConduct/CodeOfConduct.tsx
  src/App/containers/CodeOfConduct/index.ts
  src/App/containers/CodeOfConduct/loadable.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

list style fix
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Team/Team.st.css
  src/App/blocks/Team/Team.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

change nav place
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix translate use array or objects
  src/App/blocks/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

Улучшение блоков Team и Speakers (#65)
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Team/Team.st.css
  src/App/blocks/Team/Team.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component SpeakerCard
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/components/SpeakerCard/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add text prop
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:ts

add border to footer
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some mobie style
  src/App/components/SpeakerCard/SpeakerCard.st.css
Due: trigen-scripts lint:styles

fix block name inside json locale, add new translate
  src/App/blocks/CodeOfConduct/CodeOfConduct.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

add copyright i18n
  src/App/blocks/CodeOfConduct/CodeOfConduct.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

fix some style
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix storybook
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:ts

fix some mobile style
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add propTypes
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:ts

component PartnerCard
  src/App/components/PartnerCard/PartnerCard.st.css
  src/App/components/PartnerCard/PartnerCard.stories.tsx
  src/App/components/PartnerCard/PartnerCard.tsx
  src/App/components/PartnerCard/index.ts
  src/App/components/ProfileCard/ProfileCard.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

center img
  src/App/components/PartnerCard/PartnerCard.st.css
Due: trigen-scripts lint:styles

add margin to list
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
Due: trigen-scripts lint:styles

Блок и контейнер CodeOfConduct (#66)
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
  src/App/blocks/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/blocks/CodeOfConduct/CodeOfConduct.tsx
  src/App/blocks/CodeOfConduct/index.ts
  src/App/containers/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/containers/CodeOfConduct/CodeOfConduct.tsx
  src/App/containers/CodeOfConduct/index.ts
  src/App/containers/CodeOfConduct/loadable.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix border, add renderDate method
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix spaces
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:ts

Компонент SpeakerCard (#68)
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/components/SpeakerCard/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
