Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

some style fix
  src/App/components/TabsNav/TabsNav.st.css
Due: trigen-scripts lint:styles

fix style
  src/App/components/TabsNav/TabsNav.st.css
Due: trigen-scripts lint:styles

remove absolute, use flex start instead
  src/App/components/TabsNav/TabsNav.st.css
Due: trigen-scripts lint:styles

add some style
  src/App/components/TabsNav/TabsNav.st.css
Due: trigen-scripts lint:styles

Компонет TicketPreview (#87)
  src/App/components/TicketPreview/TickerPreviewField/TickerPreviewField.st.css
  src/App/components/TicketPreview/TickerPreviewField/TickerPreviewField.tsx
  src/App/components/TicketPreview/TickerPreviewField/index.ts
  src/App/components/TicketPreview/TickerPreviewGroup.tsx
  src/App/components/TicketPreview/TickerPreviewPrimary/TickerPreviewPrimary.st.css
  src/App/components/TicketPreview/TickerPreviewPrimary/TickerPreviewPrimary.tsx
  src/App/components/TicketPreview/TickerPreviewPrimary/index.ts
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreview.tsx
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.st.css
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.tsx
  src/App/components/TicketPreview/TicketPreviewAuxiliary/index.ts
  src/App/components/TicketPreview/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Компонент TabsNav (#114)
  src/App/components/TabsNav/TabsNav.st.css
  src/App/components/TabsNav/TabsNav.stories.tsx
  src/App/components/TabsNav/TabsNav.tsx
  src/App/components/TabsNav/TabsNavItem.tsx
  src/App/components/TabsNav/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component/Cabinet-container
  src/App/blocks/Header/Header.st.css
  src/App/containers/Cabinet/Cabinet.st.css
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add locale
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

add Route
  src/App/App.tsx
  src/App/containers/Cabinet/loadable.tsx
  src/App/routes.ts
Due: trigen-scripts lint:ts

component/Buy-container
  src/App/containers/Buy/Buy.st.css
  src/App/containers/Buy/Buy.stories.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add translate
  src/App/App.tsx
  src/App/containers/Buy/Buy.stories.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/loadable.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/routes.ts
Due: trigen-scripts lint:ts

fix translate some text
  src/App/locales/en.json
Due: none

add fill translate
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

small mod
  src/App/components/LoginModal/LoginModal.st.css
Due: trigen-scripts lint:styles

Компонент LoginModal (#104)
  src/App/components/FormGroup/FormGroup.tsx
  src/App/components/LoginModal/LoginModal.st.css
  src/App/components/LoginModal/LoginModal.stories.tsx
  src/App/components/LoginModal/LoginModal.tsx
  src/App/components/LoginModal/LoginModalFooter/LoginModalFooter.st.css
  src/App/components/LoginModal/LoginModalFooter/LoginModalFooter.tsx
  src/App/components/LoginModal/LoginModalFooter/index.ts
  src/App/components/LoginModal/LoginModalForm.tsx
  src/App/components/LoginModal/LoginModalLink.tsx
  src/App/components/LoginModal/LoginModalTitle.tsx
  src/App/components/LoginModal/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix ticket size
  src/App/containers/Cabinet/Cabinet.st.css
  src/App/containers/Cabinet/Cabinet.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Контейнер Cabinet (#118)
  src/App/App.tsx
  src/App/blocks/Header/Header.st.css
  src/App/containers/Cabinet/Cabinet.st.css
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/index.ts
  src/App/containers/Cabinet/loadable.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/routes.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add modal, fix some style
  src/App/blocks/SpeakersPromo/SpeakersPromo.st.css
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/containers/Index/IndexContainer.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add getPromoSpeakers
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix json
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

add validate
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/validate.ts
  src/App/containers/common/index.ts
  src/App/containers/common/validity.ts
Due: trigen-scripts lint:ts

pattern place change
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/validate.ts
  src/App/containers/common/validity.ts
Due: trigen-scripts lint:ts

блок SpeakersPromo (#108)
  src/App/blocks/SpeakersPromo/SpeakersPromo.st.css
  src/App/blocks/SpeakersPromo/SpeakersPromo.stories.tsx
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/SpeakersPromo/index.ts
  src/App/containers/Index/IndexContainer.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix active for TabsNav
  src/App/components/TabsNav/TabsNav.st.css
  src/App/components/TabsNav/TabsNav.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component/TermsOfService
  src/App/App.tsx
  src/App/blocks/TermsOfService/TermsOfService.st.css
  src/App/blocks/TermsOfService/TermsOfService.stories.tsx
  src/App/blocks/TermsOfService/TermsOfService.tsx
  src/App/blocks/TermsOfService/index.ts
  src/App/containers/TermsOfService/TermsOfService.stories.tsx
  src/App/containers/TermsOfService/TermsOfService.tsx
  src/App/containers/TermsOfService/index.ts
  src/App/containers/TermsOfService/loadable.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/routes.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style, add translate
  src/App/blocks/TermsOfService/TermsOfService.st.css
  src/App/blocks/TermsOfService/TermsOfService.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add ToggleNav
  src/App/blocks/TermsOfService/TermsOfService.st.css
  src/App/blocks/TermsOfService/TermsOfService.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

css fix
  src/App/components/TabsNav/TabsNav.st.css
Due: trigen-scripts lint:styles

fix ToggleNav style
  src/App/blocks/TermsOfService/TermsOfService.st.css
  src/App/components/ToggleNav/ToggleNav.st.css
Due: trigen-scripts lint:styles

add search query
  src/App/blocks/TermsOfService/TermsOfService.tsx
Due: trigen-scripts lint:ts

fix path
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
Due: trigen-scripts lint:ts

final fix
  src/App/components/TabsNav/TabsNav.st.css
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Контейнер Buy (#119)
  src/App/App.tsx
  src/App/components/TabsNav/TabsNav.st.css
  src/App/components/TabsNav/TabsNav.stories.tsx
  src/App/containers/Buy/Buy.st.css
  src/App/containers/Buy/Buy.stories.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/index.ts
  src/App/containers/Buy/loadable.tsx
  src/App/containers/Buy/validate.ts
  src/App/containers/common/index.ts
  src/App/containers/common/validity.ts
  src/App/routes.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix router staff
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/TermsOfService/TermsOfService.tsx
Due: trigen-scripts lint:ts

link -> h3
  src/App/blocks/TermsOfService/TermsOfService.st.css
  src/App/blocks/TermsOfService/TermsOfService.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix pathnames
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/TermsOfService/TermsOfService.st.css
  src/App/blocks/TermsOfService/TermsOfService.tsx
  src/App/containers/Speakers/SpeakerModal/SpeakerModal.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component/Models
  src/App/models/Order.ts
  src/App/models/Ticket.ts
  src/App/models/User.ts
Due: trigen-scripts lint:ts

component/UserDataProvider
  src/App/components/UserDataProvider/UserDataProvider.tsx
Due: trigen-scripts lint:ts

component/Share
  package.json
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/Share/Share.st.css
  src/App/components/Share/Share.stories.tsx
  src/App/components/Share/Share.tsx
  src/App/components/Share/index.ts
  src/App/icons/close.svg
  src/App/icons/facebook.svg
  src/App/icons/site.svg
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style
  src/App/components/Share/Share.st.css
Due: trigen-scripts lint:styles
