Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

some little fix
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.tsx
Due: trigen-scripts lint:ts

fix mobile style
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.st.css
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

location font-size fix
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles

json structure fix
  src/App/data/schedule/en.fetch.json
Due: none

add padding to description
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:styles

json spaces fix
  src/App/data/schedule/en.fetch.json
Due: none

fix some style, add check for render link with h4 or h4
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.st.css
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.tsx
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove check for description for Link
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix padding
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles

final changes
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:styles

Модалка для Schedule (#203)
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.st.css
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.tsx
  src/App/components/Schedule/ScheduleItemModal/index.ts
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

render schedule fix
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

Schedule draft
  src/App/data/schedule/en.fetch.json
Due: none

app updater
  src/App/App.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/index.tsx
  src/App/serviceWorker.ts
  src/App/updater.ts
  src/App/util/UpdaterClient.ts
  src/App/util/connectUpdater.ts
  tsconfig.json
Due: trigen-scripts lint:ts

rm unused filters
  src/App/data/locales/en.json
Due: none

Last fixes & updates
  src/App/data/schedule/en.fetch.json
  src/App/data/speakers/en.fetch.json
Due: none

format
  src/App/data/schedule/en.fetch.json
Due: none

Enhancement/schedule content (#206)
  src/App/data/schedule/en.fetch.json
  src/App/data/speakers/en.fetch.json
Due: none

Added Sheko
  src/App/data/schedule/en.fetch.json
Due: none

fixes
  src/App/blocks/Header/Header.tsx
  src/App/data/locales/en.json
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:ts

Enhancement/schedule content (#207)
  src/App/data/schedule/en.fetch.json
Due: none

filter fix
  src/App/data/locales/en.json
Due: none

enhancement/Schedule-speaker-modal
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/types.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add fetchSpeakers for schedule
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/mock.ts
  src/App/containers/Schedule/types.ts
Due: trigen-scripts lint:ts

move services, actions, reducers from user ro shcedule
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/services/schedule/adapters.ts
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
  src/App/services/schedule/spec.ts
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
  src/App/services/user/mock.ts
  src/App/services/user/spec.ts
  src/App/store/Schedule/Schedule.actions.ts
  src/App/store/Schedule/Schedule.reducer.ts
  src/App/store/Schedule/Schedule.types.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
Due: trigen-scripts lint:ts

remove async from Cabinet
  src/App/containers/Cabinet/Cabinet.tsx
Due: trigen-scripts lint:ts

fix jest config file, remove console.logs
  jest.config.json
  src/App/services/schedule/spec.ts
Due: trigen-scripts lint:ts

add spaces, split join -> replace
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/connected.ts
Due: trigen-scripts lint:ts

add favorite functional
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/mock.ts
  src/App/containers/Schedule/types.ts
  src/App/data/schedule/en.fetch.json
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.reducer.ts
  src/App/store/Schedule/register.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

order fix, indents fix
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/store/Schedule/Schedule.reducer.ts
Due: trigen-scripts lint:ts

some fixes about favorites
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/types.ts
  src/App/store/Schedule/Schedule.reducer.ts
  src/App/store/Schedule/register.ts
Due: trigen-scripts lint:ts

storybook errors fix
  src/App/containers/Schedule/mock.ts
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.reducer.ts
Due: trigen-scripts lint:ts

storybook add mock addFavorite, removeFavorie
  src/App/store/Schedule/Schedule.actions.mock.ts
Due: trigen-scripts lint:ts

fix indents
  src/App/containers/Schedule/connected.ts
Due: trigen-scripts lint:ts

Сделать спикеров в расписании кликабельными (#209)
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/mock.ts
  src/App/containers/Schedule/types.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Speakers&partners update
  src/App/data/locales/en.json
  src/App/data/schedule/en.fetch.json
  src/App/data/speakers/en.fetch.json
Due: none

Enhancement/content update (#212)
  src/App/data/locales/en.json
  src/App/data/schedule/en.fetch.json
  src/App/data/speakers/en.fetch.json
Due: none

format json
  src/App/data/schedule/en.fetch.json
  src/App/data/speakers/en.fetch.json
Due: none

Fixed schedule
  src/App/data/schedule/en.fetch.json
Due: none

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
