Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

remove button class
  src/App/blocks/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

fix button display on mobile
  src/App/blocks/Speakers/Speakers.st.css
Due: trigen-scripts lint:styles

Button -> Link
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Блок Speakers (#32)
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Speakers/index.ts
  src/App/blocks/landing.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component Photos
  src/App/blocks/Photos/Photos.st.css
  src/App/blocks/Photos/Photos.stories.tsx
  src/App/blocks/Photos/Photos.tsx
  src/App/blocks/Photos/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement Button-alt
  src/App/components/Button/Button.st.css
  src/App/components/Button/Button.tsx
  src/App/components/Button/mods/Button--alt.st.css
  src/App/components/Button/mods/Button--secondary.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement Button-alt (#45)
  src/App/components/Button/Button.st.css
  src/App/components/Button/Button.tsx
  src/App/components/Button/mods/Button--alt.st.css
  src/App/components/Button/mods/Button--secondary.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement i18n-Partners (#39)
  package.json
  src/App/blocks/Partners/Partners.stories.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  yarn.lock
Due: trigen-scripts lint:ts

button add alt varinat, add real link for photos, fix some style
  src/App/blocks/Photos/Photos.st.css
  src/App/blocks/Photos/Photos.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove key from Profile Card
  src/App/blocks/Team/Team.tsx
Due: trigen-scripts lint:ts

key prop fix
  src/App/blocks/Team/Team.tsx
Due: trigen-scripts lint:ts

last fix key
  src/App/blocks/Team/Team.tsx
Due: trigen-scripts lint:ts

start
  package.json
  yarn.lock
Due: none

fix renderContacts key prop
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:ts

Локаль Team (#47)
  src/App/blocks/Team/Team.stories.tsx
  src/App/blocks/Team/Team.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

enhancement i18n-Speakers
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

add check for badge
  src/App/blocks/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

Локаль Speakers (#48)
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

wip
  package.json
  src/App/App.tsx
  src/App/components/Link/Link.st.css
  src/App/index.tsx
  src/App/render.tsx
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

deps upd
  package.json
  yarn.lock
Due: none

add translate, fix some css, fix component structure
  src/App/blocks/Photos/Photos.st.css
  src/App/blocks/Photos/Photos.stories.tsx
  src/App/blocks/Photos/Photos.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

some adaptive
  src/App/blocks/Photos/Photos.st.css
  src/App/blocks/Photos/Photos.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

slider
  src/App/blocks/Photos/Photos.st.css
Due: trigen-scripts lint:styles

fix amination, remove first slide whne mobile
  src/App/blocks/Photos/Photos.st.css
  src/App/blocks/landing.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix Photo block when inside Landing
  src/App/blocks/Photos/Photos.st.css
Due: trigen-scripts lint:styles

bring back 1195 media query
  src/App/blocks/Photos/Photos.st.css
Due: trigen-scripts lint:styles

img size fix
  src/App/blocks/Photos/Photos.st.css
Due: trigen-scripts lint:styles

div -> p, add target blank to link etc
  src/App/blocks/Photos/Photos.st.css
  src/App/blocks/Photos/Photos.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Partners/Partners.st.css
  src/App/blocks/Photos/Photos.st.css
  src/App/locales/ru.json
Due: trigen-scripts lint:styles

Блок Photos (#43)
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Partners/Partners.st.css
  src/App/blocks/Photos/Photos.st.css
  src/App/blocks/Photos/Photos.stories.tsx
  src/App/blocks/Photos/Photos.tsx
  src/App/blocks/Photos/index.ts
  src/App/blocks/landing.stories.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

render done
  package.json
  src/App/App.tsx
  src/App/blocks/Header/Header.tsx
  src/App/components/Link/Link.tsx
  src/App/index.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/render.tsx
  src/index.html
  yarn.lock
Due: trigen-scripts lint:ts

Feature/render (#49)
  package.json
  src/App/App.tsx
  src/App/blocks/Header/Header.tsx
  src/App/components/Link/Link.st.css
  src/App/components/Link/Link.tsx
  src/App/index.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/render.tsx
  src/index.html
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component ScrollToTop
  src/App/components/ScrollToTop/ScrollToTop.tsx
  src/App/components/ScrollToTop/index.ts
Due: trigen-scripts lint:ts

enhancement Landing-containers
  src/App/App.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/containers/Index/IndexContainer.tsx
  src/App/containers/Index/index.ts
  src/App/containers/Index/loadable.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/index.ts
  src/App/containers/Speakers/loadable.tsx
  src/App/containers/Team/Team.tsx
  src/App/containers/Team/index.ts
  src/App/containers/Team/loadable.tsx
Due: trigen-scripts lint:ts

remove input handler, fix tranlate etc
  src/App/blocks/Subscribe/Subscribe.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

remove state
  src/App/blocks/Subscribe/Subscribe.tsx
Due: trigen-scripts lint:ts

fix storybook context
  src/App/blocks/Subscribe/Subscribe.stories.tsx
  src/App/components/Link/Link.tsx
Due: trigen-scripts lint:ts

fix link destructuring, fix Subscribe policy structure
  src/App/blocks/Subscribe/Subscribe.tsx
  src/App/components/Link/Link.tsx
Due: trigen-scripts lint:ts

fix IProps interface
  src/App/components/ScrollToTop/ScrollToTop.tsx
Due: trigen-scripts lint:ts

link color on hover blue
  src/App/blocks/Subscribe/Subscribe.st.css
Due: trigen-scripts lint:styles

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
