Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

favicons
  package.json
  src/favicon.svg
  src/favicons/android-chrome-144x144.png
  src/favicons/android-chrome-192x192.png
  src/favicons/android-chrome-256x256.png
  src/favicons/android-chrome-36x36.png
  src/favicons/android-chrome-384x384.png
  src/favicons/android-chrome-48x48.png
  src/favicons/android-chrome-512x512.png
  src/favicons/android-chrome-72x72.png
  src/favicons/android-chrome-96x96.png
  src/favicons/apple-touch-icon-120x120.png
  src/favicons/apple-touch-icon-152x152.png
  src/favicons/apple-touch-icon-167x167.png
  src/favicons/apple-touch-icon-180x180.png
  src/favicons/apple-touch-icon.png
  src/favicons/apple-touch-startup-image-1125x2436.png
  src/favicons/apple-touch-startup-image-1242x2208.png
  src/favicons/apple-touch-startup-image-1242x2688.png
  src/favicons/apple-touch-startup-image-1536x2048.png
  src/favicons/apple-touch-startup-image-1668x2224.png
  src/favicons/apple-touch-startup-image-1668x2388.png
  src/favicons/apple-touch-startup-image-1792x828.png
  src/favicons/apple-touch-startup-image-2048x1536.png
  src/favicons/apple-touch-startup-image-2048x2732.png
  src/favicons/apple-touch-startup-image-2208x1242.png
  src/favicons/apple-touch-startup-image-2224x1668.png
  src/favicons/apple-touch-startup-image-2388x1668.png
  src/favicons/apple-touch-startup-image-2436x1125.png
  src/favicons/apple-touch-startup-image-2688x1242.png
  src/favicons/apple-touch-startup-image-2732x2048.png
  src/favicons/apple-touch-startup-image-640x1136.png
  src/favicons/apple-touch-startup-image-750x1334.png
  src/favicons/apple-touch-startup-image-828x1792.png
  src/favicons/favicon-16x16.png
  src/favicons/favicon-32x32.png
  src/favicons/favicon.ico
  src/favicons/favicons.html
  src/index.html
  src/manifest.json
Due: none

price -> h4, title -> h3 and fix some style, remove one line
  src/App/blocks/Tickets/Tickets.st.css
  src/App/blocks/Tickets/Tickets.tsx
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.st.css
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.tsx
  src/App/components/TicketPreview/TicketPreviewPrice.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix margins for price
  src/App/components/TicketPreview/TicketPreview.st.css
Due: trigen-scripts lint:styles

confirm.message -> header.confirmMessage, remove one separator from footer
  src/App/blocks/Footer/Footer.st.css
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add translate from git lab for footer, header, meta, main
  src/App/locales/en.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

remove type from getShareLinks
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix ru local for footer
  src/App/locales/ru.json
Due: none

fix replace with regEx
  src/App/locales/en.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

SITE_URL
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

Проверка локалей: main, header, footer, meta (#153)
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix style for TicketPreviewAuxiliary
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.st.css
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add class to h3
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.st.css
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Блок Tickets (#144)
  src/App/blocks/Tickets/Tickets.st.css
  src/App/blocks/Tickets/Tickets.stories.tsx
  src/App/blocks/Tickets/Tickets.tsx
  src/App/blocks/Tickets/index.ts
  src/App/components/TicketPreview/TickerPreviewPrimary/TickerPreviewPrimary.tsx
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreview.tsx
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.st.css
  src/App/components/TicketPreview/TicketPreviewAuxiliary/TicketPreviewAuxiliary.tsx
  src/App/components/TicketPreview/TicketPreviewButton.tsx
  src/App/components/TicketPreview/TicketPreviewDescription.tsx
  src/App/components/TicketPreview/TicketPreviewPrice.tsx
  src/App/components/TicketPreview/TicketPreviewSale.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix/locales-pt2
  src/App/blocks/Subscribe/Subscribe.st.css
  src/App/blocks/Subscribe/Subscribe.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add check for DISABLE_RU
  README.md
  src/App/blocks/Header/Header.tsx
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

fix check for diable_ru
  README.md
  src/App/blocks/Header/Header.tsx
Due: trigen-scripts lint:ts

fix disabled_ru
  README.md
  src/App/blocks/Header/Header.tsx
Due: trigen-scripts lint:ts

readme order fix
  README.md
Due: none

Проверка локалей: facts, photos, subscribe, location (#155)
  README.md
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Subscribe/Subscribe.st.css
  src/App/blocks/Subscribe/Subscribe.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix/locales-pt3
  src/App/locales/en.json
Due: none

data->date
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

Проверка локалей: buy, cabinet, login (#156)
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

Tickets fix, footer fix, Tickets block
  src/App/blocks/Footer/Footer.st.css
  src/App/blocks/Footer/Footer.tsx
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/containers/Index/IndexContainer.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix/locales-pt4
  src/App/blocks/SpeakersPromo/SpeakersPromo.st.css
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix/locales-pt4v2
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

fix/Tickets-block
  src/App/components/TicketPreview/TicketPreview.st.css
Due: trigen-scripts lint:styles

fix/Tickets-block (#160)
  src/App/components/TicketPreview/TicketPreview.st.css
Due: trigen-scripts lint:styles

component/autologin
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/blocks/Header/connected.ts
  src/App/blocks/Header/types.ts
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/mock.ts
  src/App/containers/Cabinet/types.ts
  src/App/services/user/index.ts
  src/App/services/user/mock.ts
  src/App/store/User/User.actions.mock.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

storyshots upd, ticket fix
  test/__image_snapshots__/Blocks|Tickets__with-basic-state-snap.png
  test/__image_snapshots__/Components|TicketPreview__with-vertical-state-snap.png
Due: none

fix/locales-pt4v2 (#159)
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

add token form query string
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/types.ts
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

remove console.log
  src/App/blocks/Header/Header.tsx
Due: trigen-scripts lint:ts

URLSearchParams fix
  src/App/blocks/Header/Header.tsx
Due: trigen-scripts lint:ts

Autologin (#162)
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/blocks/Header/connected.ts
  src/App/blocks/Header/types.ts
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/mock.ts
  src/App/containers/Cabinet/types.ts
  src/App/services/user/index.ts
  src/App/services/user/mock.ts
  src/App/store/User/User.actions.mock.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

terms, coc
  jest.config.json
  src/App/App.st.css
  src/App/blocks/CodeOfConduct/CodeOfConduct.tsx
  src/App/blocks/Photos/Photos.st.css
  src/App/blocks/TermsOfService/TermsOfService.st.css
  src/App/blocks/TermsOfService/TermsOfService.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/data/privacy-policy-en.html
  src/App/globals.d.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  test/__image_snapshots__/Blocks|CodeOfConduct__with-basic-state-snap.png
  test/__image_snapshots__/Blocks|TermsOfService__with-basic-state-snap.png
  test/__image_snapshots__/Components|Loading__with-children-snap.png
  test/__image_snapshots__/Components|Spinner__with-children-snap.png
  test/__image_snapshots__/Components|Spinner__with-default-state-snap.png
  test/__image_snapshots__/Containers|CodeOfConduct__with-default-state-snap.png
  test/__image_snapshots__/Containers|TermsOfService__with-default-state-snap.png
  test/__image_snapshots__/Route__code-of-conduct-snap.png
  test/__image_snapshots__/Route__ru-code-of-conduct-snap.png
  test/__image_snapshots__/Route__ru-terms-snap.png
  test/__image_snapshots__/Route__terms-snap.png
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/Buy-container
  src/App/blocks/Header/Header.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/connected.ts
  src/App/containers/Buy/types.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/models/Product.ts
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
Due: trigen-scripts lint:ts

fix id -> ref
  src/App/containers/Buy/Buy.tsx
  src/App/models/Order.mock.ts
  src/App/models/OrderItem.ts
  src/App/models/Product.ts
  src/App/services/user/adapters.ts
Due: trigen-scripts lint:ts

fix ru locale json
  src/App/locales/ru.json
Due: none

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
