Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

fix indents
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
Due: trigen-scripts lint:ts

use state
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
Due: trigen-scripts lint:ts

order fix inside render
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
Due: trigen-scripts lint:ts

add check for process.env.SEED
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix check for index
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

remove console.log
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

check for index
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

some fixes
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/icons/star.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

update 18-n, fix check for index
  package.json
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
  yarn.lock
Due: trigen-scripts lint:ts

fix component stucture
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.st.css
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/variables.st.css
  src/App/icons/star.svg
  src/App/icons/star1.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

index -> promoSpeakersIndex
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix checks and return
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix spaces
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

filter promo fix
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

add badge colors
  src/App/components/Badge/Badge.st.css
  src/App/components/Badge/Badge.tsx
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix random generator
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix random
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

Ротация спикеров в блоке SpeakersPromo (#174)
  package.json
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
  yarn.lock
Due: trigen-scripts lint:ts

vk and fb pixels
  README.md
  src/App/analytics.ts
Due: trigen-scripts lint:ts

add getColor
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

enhancement/Tickets
  src/App/blocks/Tickets/Tickets.tsx
  src/App/components/TicketPreview/TicketPreviewButton.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

fix locale, fix disabled
  src/App/blocks/Tickets/Tickets.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

Улучшить блок Tickets (#176)
  src/App/blocks/Tickets/Tickets.tsx
  src/App/components/TicketPreview/TicketPreviewButton.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

enhancement/Buy
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/types.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/models/User.ts
Due: trigen-scripts lint:ts

enhancement/Buy (#178)
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/types.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/models/User.ts
Due: trigen-scripts lint:ts

fix storybook star icon name
  .storybook/injectTestIcon.js
  .storybook/starIcon.svg
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.tsx
  src/App/icons/star.svg
Due: trigen-scripts lint:ts

fix star, add storybook style, change component structure etc
  .storybook/config.js
  .storybook/storybook.css
  src/App/components/Badge/Badge.tsx
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/icons/also.svg
  src/App/icons/coc.svg
  src/App/icons/email.svg
  src/App/icons/facebook.svg
  src/App/icons/logo.svg
  src/App/icons/meetup.svg
  src/App/icons/site.svg
  src/App/icons/star.svg
  src/App/icons/telegram.svg
  src/App/icons/topics.svg
  src/App/icons/twitter.svg
  src/App/icons/vk.svg
  src/App/icons/workshops.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

svg fix
  src/App/icons/also.svg
  src/App/icons/coc.svg
  src/App/icons/facebook.svg
  src/App/icons/logo.svg
  src/App/icons/meetup.svg
  src/App/icons/site.svg
  src/App/icons/topics.svg
  src/App/icons/workshops.svg
Due: none

fix star style, fix warmning about table
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix warning use omit
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

add new color for Security, remove check for speaker, description
  src/App/components/Badge/Badge.st.css
  src/App/components/Badge/Badge.tsx
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

some changes
  .storybook/injectTestIcon.js
  .storybook/testIcon.svg
  src/App/components/Badge/Badge.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/icons/also.svg
  src/App/icons/coc.svg
  src/App/icons/email.svg
  src/App/icons/facebook.svg
  src/App/icons/logo.svg
  src/App/icons/meetup.svg
  src/App/icons/pin.svg
  src/App/icons/share.svg
  src/App/icons/site.svg
  src/App/icons/star.svg
  src/App/icons/telegram.svg
  src/App/icons/topics.svg
  src/App/icons/twitter.svg
  src/App/icons/vk.svg
  src/App/icons/workshops.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix component structure
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

position -> about
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add multiple speakers
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/variables.st.css
  src/App/icons/also.svg
  src/App/icons/email.svg
  src/App/icons/facebook.svg
  src/App/icons/logo.svg
  src/App/icons/meetup.svg
  src/App/icons/pin.svg
  src/App/icons/share.svg
  src/App/icons/site.svg
  src/App/icons/star.svg
  src/App/icons/telegram.svg
  src/App/icons/twitter.svg
  src/App/icons/vk.svg
  src/App/icons/workshops.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add lang prop, add date component
  src/App/components/Schedule/Schedule.st.css
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleDate.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

change name of component
  src/App/components/Schedule/Schedule.st.css
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleSeparator.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add new storybook story, fix interface names etc
  src/App/components/Schedule/Schedule.st.css
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleSeparator/ScheduleSeparator.st.css
  src/App/components/Schedule/ScheduleSeparator/ScheduleSeparator.tsx
  src/App/components/Schedule/ScheduleSeparator/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove style
  src/App/components/Schedule/Schedule.st.css
Due: trigen-scripts lint:styles

add check for onFavoriteClick, add prop favoriteLabel
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts
