Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

Добавить Share в Header (#133)
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
  src/App/blocks/SpeakersPromo/SpeakersPromo.st.css
  src/App/components/Share/Share.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add .env, fix Speaker title hover
  src/App/blocks/SpeakersPromo/SpeakersPromo.st.css
  src/App/services/user/client.ts
  src/App/services/user/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

change env variable name
  src/App/services/user/client.ts
Due: trigen-scripts lint:ts

axios -> axiosDefaults
  src/App/services/user/client.ts
Due: trigen-scripts lint:ts

Сегмент User (#130)
  src/App/services/user/client.ts
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
  src/App/store/User/index.ts
  src/App/store/User/register.ts
Due: trigen-scripts lint:ts

enhancement/containers-with-user
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/connected.ts
  src/App/containers/Buy/index.ts
  src/App/containers/Buy/loadable.tsx
  src/App/containers/Buy/types.ts
  src/App/store/index.ts
  src/App/store/segments.ts
  src/App/store/types.ts
Due: trigen-scripts lint:ts

add some logic for login
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/blocks/Header/connected.ts
  src/App/blocks/Header/index.ts
  src/App/blocks/Header/types.ts
  src/App/blocks/common/errors.ts
  src/App/blocks/common/index.ts
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/index.ts
  src/App/containers/Cabinet/loadable.tsx
  src/App/containers/Cabinet/types.ts
  src/App/index.tsx
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add some logic to Header
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/connected.ts
  src/App/containers/Buy/types.ts
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/types.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

some fixes
  src/App/blocks/Header/Header.tsx
Due: trigen-scripts lint:ts

add logout, isLogged
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/connected.ts
  src/App/blocks/Header/types.ts
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add check for Cabinet
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/types.ts
Due: trigen-scripts lint:ts

fix ordersFetch
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

some little fixes
  src/App/containers/Cabinet/Cabinet.tsx
Due: trigen-scripts lint:ts

fix translate
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

add getProfile method, action
  package.json
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/types.ts
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
  yarn.lock
Due: trigen-scripts lint:ts

add modal error logic
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

then -> async await
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:ts

spaces fix
  src/App/containers/Buy/connected.ts
  src/App/containers/Cabinet/connected.ts
Due: trigen-scripts lint:ts

response -> isLogged inside login handle in modal
  src/App/blocks/Header/HeaderLoginModal.tsx
Due: trigen-scripts lint:ts

add some style
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix indents, actions, redirect etc
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/connected.ts
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/models/Ticket.ts
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove return from buy
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add required for inputs, fix some input style, add error handler for buy container
  src/App/blocks/Subscribe/Subscribe.tsx
  src/App/components/Input/Input.st.css
  src/App/containers/Buy/Buy.st.css
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/connected.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add UserFieldsSpec
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/models/User.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

remove pattern from password input
  src/App/blocks/Header/HeaderLoginModal.tsx
Due: trigen-scripts lint:ts

add ErrorMessage component
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/components/ErrorMessage/ErrorMessage.st.css
  src/App/components/ErrorMessage/ErrorMessage.stories.tsx
  src/App/components/ErrorMessage/ErrorMessage.tsx
  src/App/components/ErrorMessage/index.ts
  src/App/containers/Buy/Buy.st.css
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

disable invalid state for input
  src/App/components/Input/Input.st.css
Due: trigen-scripts lint:styles

Привязать сегмент User к контейнерам (#135)
  package.json
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/blocks/Header/connected.ts
  src/App/blocks/Header/index.ts
  src/App/blocks/Header/types.ts
  src/App/blocks/Subscribe/Subscribe.tsx
  src/App/blocks/common/errors.ts
  src/App/blocks/common/index.ts
  src/App/components/ErrorMessage/ErrorMessage.st.css
  src/App/components/ErrorMessage/ErrorMessage.stories.tsx
  src/App/components/ErrorMessage/ErrorMessage.tsx
  src/App/components/ErrorMessage/index.ts
  src/App/components/Input/Input.st.css
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/connected.ts
  src/App/containers/Buy/index.ts
  src/App/containers/Buy/loadable.tsx
  src/App/containers/Buy/types.ts
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/index.ts
  src/App/containers/Cabinet/loadable.tsx
  src/App/containers/Cabinet/types.ts
  src/App/index.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/models/Ticket.ts
  src/App/models/User.ts
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/index.ts
  src/App/store/segments.ts
  src/App/store/types.ts
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix errors
  src/App/blocks/Header/mock.ts
  src/App/containers/Buy/Buy.stories.tsx
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/mock.ts
  src/App/containers/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/Partners/Partners.stories.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Team/Team.stories.tsx
  src/App/containers/TermsOfService/TermsOfService.stories.tsx
Due: trigen-scripts lint:ts

fix stories
  src/App/containers/Buy/Buy.stories.tsx
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/mock.ts
  src/App/containers/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/Partners/Partners.stories.tsx
  src/App/containers/Team/Team.stories.tsx
  src/App/containers/TermsOfService/TermsOfService.stories.tsx
Due: trigen-scripts lint:ts

fix cabinet mock
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/mock.ts
Due: trigen-scripts lint:ts

component/analytics
  src/App/App.tsx
  src/App/analytics.ts
  src/index.html
Due: trigen-scripts lint:ts

component/ConfirmModal-PaidMessageModal
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/components/ConfirmModal/ConfirmModal.st.css
  src/App/components/ConfirmModal/ConfirmModal.stories.tsx
  src/App/components/ConfirmModal/ConfirmModal.tsx
  src/App/components/ConfirmModal/index.ts
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

bring back footer and header
  src/App/containers/Buy/Buy.stories.tsx
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/Partners/Partners.stories.tsx
  src/App/containers/Team/Team.stories.tsx
  src/App/containers/TermsOfService/TermsOfService.stories.tsx
Due: trigen-scripts lint:ts

Добавить Store в Storybook (#139)
  package.json
  src/App/blocks/Header/Header.stories.tsx
  src/App/blocks/Header/mock.ts
  src/App/containers/Buy/Buy.stories.tsx
  src/App/containers/Buy/mock.ts
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/mock.ts
  src/App/containers/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/Partners/Partners.stories.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Team/Team.stories.tsx
  src/App/containers/TermsOfService/TermsOfService.stories.tsx
  src/App/models/Order.mock.ts
  src/App/models/User.mock.ts
  src/App/services/user/mock.ts
  src/App/store/User/User.actions.mock.ts
  src/App/store/types.ts
  yarn.lock
Due: trigen-scripts lint:ts

pull master
  src/App/blocks/Header/Header.stories.tsx
Due: trigen-scripts lint:ts

modal show add
  src/App/blocks/Header/PaidMessageModal.tsx
Due: trigen-scripts lint:ts

fix modal show, hide remove search params, also fix saveToken
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

fix token bug
  src/App/services/user/client.ts
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts
