Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

services fix
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/services/schedule/index.ts
  src/App/services/speakers/index.ts
Due: trigen-scripts lint:ts

Fix/add russian locales (#220)
  package.json
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/SpeakersPromo/types.ts
  src/App/components/LoginModal/LoginModal.st.css
  src/App/components/LoginModal/LoginModal.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/types.ts
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/types.ts
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/schedule/en.fetch.json
  src/App/data/schedule/ru.fetch.json
  src/App/data/speakers/ru.fetch.json
  src/App/render.tsx
  src/App/services/i18n/index.ts
  src/App/services/schedule/index.ts
  src/App/services/speakers/index.ts
  src/App/store/Schedule/Schedule.actions.ts
  src/App/store/Schedule/register.ts
  src/App/store/Speakers/Speakers.actions.ts
  src/App/store/Speakers/register.ts
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Поправить верстку Partners (#224)
  src/App/components/PartnerCard/PartnerCard.st.css
  src/App/components/PartnerCard/PartnerCard.tsx
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

locale switch fix
  src/App/data/locales/ru.json
Due: none

change format for ru locales in facts block
  src/App/data/locales/ru.json
Due: none

fast hack for fix typos in ru locales for speakers
  src/App/data/speakers/ru.fetch.json
Due: none

Fix/change russian locales (#226)
  src/App/data/locales/ru.json
  src/App/data/speakers/ru.fetch.json
Due: none

change text for button in scholarship block
  src/App/data/locales/ru.json
Due: none

change text for button in scholarship block (#227)
  src/App/data/locales/ru.json
Due: none

component/buyAfterpartyTicket
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

indents fix
  src/App/services/user/adapters.ts
Due: trigen-scripts lint:ts

fix buyAfterpartyTicket
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

enhancement/Schedule-title
  src/App/containers/Schedule/Schedule.st.css
Due: trigen-scripts lint:styles

Updated prices
  src/App/data/locales/en.json
Due: none

enhancement/Schedule-title (#230)
  src/App/containers/Schedule/Schedule.st.css
Due: trigen-scripts lint:styles

add hasAfterpartyTicket
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add new action for hasAfterpartyTicket
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

update scripts
  package.json
  yarn.lock
Due: none

add selectTicketOrder, selectAfterpartyTicketOrder and change some render logic
  src/App/containers/Cabinet/Cabinet.st.css
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/types.ts
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/models/Order.mock.ts
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
  src/App/services/user/mock.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.mock.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix test
  src/App/services/user/spec.ts
Due: trigen-scripts lint:ts

remove checks
  src/App/containers/Cabinet/Cabinet.tsx
Due: trigen-scripts lint:ts

storybook fix
  src/App/store/User/User.actions.mock.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add type for selectTicketOrder, selectAfterpartyTicketOrder argument
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/types.ts
  src/App/models/Order.mock.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add types for functions return
  src/App/containers/Cabinet/types.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

change locales for speakers
  src/App/data/speakers/en.fetch.json
  src/App/data/speakers/ru.fetch.json
Due: none

change en locale for speakers
  src/App/data/speakers/en.fetch.json
Due: none

change locales for schedule
  src/App/data/schedule/en.fetch.json
  src/App/data/schedule/ru.fetch.json
Due: none

change ru locales for speakers
  src/App/data/speakers/ru.fetch.json
Due: none

change ru locales for schedule
  src/App/data/schedule/ru.fetch.json
Due: none

change locales for speakers (#231)
  src/App/data/schedule/en.fetch.json
  src/App/data/schedule/ru.fetch.json
  src/App/data/speakers/en.fetch.json
  src/App/data/speakers/ru.fetch.json
Due: none

add new story for afterparty
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/mock.ts
  src/App/models/Order.mock.ts
  src/App/store/User/User.actions.mock.ts
Due: trigen-scripts lint:ts

fix pass empty function to fetchProfile
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/mock.ts
  src/App/models/Order.mock.ts
Due: trigen-scripts lint:ts

fix fetchOrder
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/mock.ts
Due: trigen-scripts lint:ts

Updated schedule
  src/App/data/schedule/en.fetch.json
  src/App/data/schedule/ru.fetch.json
Due: none

Добавить датапровайдер buyAfterpartyTicket (#228)
  src/App/containers/Cabinet/Cabinet.st.css
  src/App/containers/Cabinet/Cabinet.stories.tsx
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/mock.ts
  src/App/containers/Cabinet/types.ts
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/models/Order.mock.ts
  src/App/models/User.mock.ts
  src/App/models/User.ts
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
  src/App/services/user/mock.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.mock.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/buyAfterpartyTicket
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/types.ts
  src/App/models/Order.mock.ts
  src/App/models/OrderItem.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.mock.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

enhancement/buyAfterpartyTicket (#232)
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/connected.ts
  src/App/containers/Cabinet/types.ts
  src/App/models/Order.mock.ts
  src/App/models/OrderItem.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.mock.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

conflict fix
  src/App/data/speakers/en.fetch.json
Due: none

resolve conflicts
  src/App/services/schedule/index.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts
