Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

fix indents
  src/App/blocks/Header/PaidMessageModal.tsx
Due: trigen-scripts lint:ts

add google analytics
  src/App/analytics.ts
  src/index.html
Due: trigen-scripts lint:ts

fix types
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/user/client.ts
Due: trigen-scripts lint:ts

more type fix
  src/App/blocks/Header/PaidMessageModal.tsx
Due: trigen-scripts lint:ts

add getSchemaData, getMetaData
  package.json
  src/App/App.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
  yarn.lock
Due: trigen-scripts lint:ts

order fix
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

getSchemaData append to page insde script tag
  src/App/App.tsx
Due: trigen-scripts lint:ts

Компонент ConfirmModal и PaidMessageModal (#141)
  src/App/blocks/Header/Header.stories.tsx
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/components/ConfirmModal/ConfirmModal.st.css
  src/App/components/ConfirmModal/ConfirmModal.stories.tsx
  src/App/components/ConfirmModal/ConfirmModal.tsx
  src/App/components/ConfirmModal/index.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/user/client.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix structuredData, fix indents
  src/App/App.tsx
  src/App/analytics.ts
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix indents
  src/App/analytics.ts
Due: trigen-scripts lint:ts

move some data inside data/index.ts
  src/App/App.tsx
  src/App/analytics.ts
  src/App/data/index.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

move some data from meta to data
  src/App/App.tsx
  src/App/analytics.ts
  src/App/data/index.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix og:image for meta
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

fix ru locale, add title to data/index.ts etc
  src/App/App.tsx
  src/App/data/index.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
  src/index.html
Due: trigen-scripts lint:ts

remove google script from index.html
  src/index.html
Due: none

BASE_URL -> SITE_URL
  src/App/data/index.ts
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

move base from render to App, add Helmet to render
  src/App/App.tsx
  src/App/render.tsx
Due: trigen-scripts lint:ts

fixes
  package.json
  src/App/App.tsx
  src/App/render.tsx
  yarn.lock
Due: trigen-scripts lint:ts

enhancement/Meetup-com-icon
  src/App/components/ContactLink/ContactLink.tsx
  src/App/icons/meetup.svg
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

final changes
  package.json
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/render.tsx
  src/App/services/user/index.ts
  src/App/store/index.ts
  yarn.lock
Due: trigen-scripts lint:ts

Перенести аналитику со старого сайта. (#142)
  package.json
  src/App/App.tsx
  src/App/analytics.ts
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/data/index.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/render.tsx
  src/App/services/i18n/index.ts
  src/App/services/user/index.ts
  src/App/store/index.ts
  src/index.html
  yarn.lock
Due: trigen-scripts lint:ts

enhancement/autocomplete
  src/App/models/User.ts
Due: trigen-scripts lint:ts

render fix
  README.md
  package.json
  scripts/webpack.js
  src/App/blocks/Location/Location.tsx
  src/App/index.tsx
  src/App/render.tsx
  src/App/store/User/register.ts
  yarn.lock
Due: trigen-scripts lint:ts

readme mod
  README.md
Due: none

add some style, add 8 circle for contact
  src/App/blocks/Tickets/Tickets.st.css
  src/App/blocks/Tickets/Tickets.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

pull master fix bug with redirect url
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

fix path
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

remove last /
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

enhancement/Meetup-com-icon (#146)
  src/App/components/ContactLink/ContactLink.tsx
  src/App/icons/meetup.svg
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

fix/locales-pt1
  src/App/blocks/Footer/Footer.st.css
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/blocks/Header/PaidMessageModal.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove console.log
  src/App/blocks/Tickets/Tickets.tsx
Due: trigen-scripts lint:ts

fix error for buy container, add lines for contact block
  src/App/blocks/Tickets/Tickets.st.css
  src/App/blocks/Tickets/Tickets.tsx
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

priceType fix
  src/App/blocks/Tickets/Tickets.st.css
  src/App/blocks/Tickets/Tickets.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style for ticket
  src/App/components/TicketPreview/TicketPreview.st.css
Due: trigen-scripts lint:styles

style changes
  src/App/blocks/Tickets/Tickets.st.css
  src/App/blocks/Tickets/Tickets.tsx
  src/App/components/TicketPreview/TicketPreview.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

renderBadge fix
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:ts

fixes for tests, update snapshots
  test/__image_snapshots__/Blocks|Header__with-login-error-snap.png
  test/__image_snapshots__/Blocks|Header__with-paid-modal-snap.png
  test/__image_snapshots__/Blocks|Header__with-success-login-snap.png
  test/__image_snapshots__/Blocks|SpeakersPromo__with-basic-state-snap.png
  test/__image_snapshots__/Blocks|TermsOfService__with-basic-state-snap.png
  test/__image_snapshots__/Components|ConfirmModal__with-show-demo-snap.png
  test/__image_snapshots__/Components|ErrorMessage__with-default-state-snap.png
  test/__image_snapshots__/Components|FormGroup__with-checkbox-snap.png
  test/__image_snapshots__/Components|FormGroup__with-custom-label-snap.png
  test/__image_snapshots__/Components|FormGroup__with-description-snap.png
  test/__image_snapshots__/Components|FormGroup__with-disabled-state-snap.png
  test/__image_snapshots__/Components|FormGroup__with-label-snap.png
  test/__image_snapshots__/Components|FormGroup__with-notice-snap.png
  test/__image_snapshots__/Components|FormGroup__with-required-state-snap.png
  test/__image_snapshots__/Components|LoginModal__with-registration-snap.png
  test/__image_snapshots__/Components|Share__with-default-state-snap.png
  test/__image_snapshots__/Components|TabsNav__with-3-items-snap.png
  test/__image_snapshots__/Components|TabsNav__with-basic-state-snap.png
  test/__image_snapshots__/Components|TicketForm__with-buy-company-ticket-snap.png
  test/__image_snapshots__/Components|TicketForm__with-buy-one-ticket-snap.png
  test/__image_snapshots__/Components|TicketPreview__with-content-snap.png
  test/__image_snapshots__/Containers|Buy__with-default-state-snap.png
  test/__image_snapshots__/Containers|Cabinet__with-default-state-snap.png
  test/__image_snapshots__/Containers|TermsOfService__with-default-state-snap.png
  test/__image_snapshots__/Route__buy-snap.png
  test/__image_snapshots__/Route__cabinet-snap.png
  test/__image_snapshots__/Route__ru-buy-snap.png
  test/__image_snapshots__/Route__ru-cabinet-snap.png
  test/__image_snapshots__/Route__ru-terms-snap.png
  test/__image_snapshots__/Route__terms-snap.png
Due: none

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
