Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

getCurrency rework
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:ts

more fix for render label with price etc
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:ts

propTypes fix
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:ts

final fix
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:ts

remove omit, fix check on getLabel
  src/App/blocks/Header/Header.tsx
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:ts

Улучшение контейнера Buy (#164)
  src/App/blocks/Header/Header.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/containers/Buy/connected.ts
  src/App/containers/Buy/types.ts
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/models/Order.mock.ts
  src/App/models/OrderItem.ts
  src/App/models/Product.ts
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
Due: trigen-scripts lint:ts

feature/email
  src/email/assets/cat.png
  src/email/assets/leftpt.png
  src/email/assets/logo.svg
  src/email/assets/meetup.svg
  src/email/assets/rightpt.png
  src/email/assets/telegram.svg
  src/email/assets/twitter.svg
  src/email/assets/vk.svg
  src/email/index.mjml
Due: none

a-> span
  src/email/index.mjml
Due: none

add RobotoMono
  src/email/index.mjml
Due: none

add ticket info, icon still svg cuz no png
  src/email/assets/leftpt.png
  src/email/assets/logo.png
  src/email/assets/logo.svg
  src/email/assets/rightpt.png
  src/email/assets/telegram.png
  src/email/index.mjml
Due: none

svg -> png
  src/email/assets/meetup.png
  src/email/assets/meetup.svg
  src/email/assets/telegram.png
  src/email/assets/telegram.svg
  src/email/assets/twitter.png
  src/email/assets/twitter.svg
  src/email/assets/vk.png
  src/email/assets/vk.svg
  src/email/index.mjml
Due: none

manifest fix
  src/favicons/favicons.html
Due: none

fix favicons and manifest and readme
  README.md
  package.json
  src/favicons/favicons.html
  src/manifest.json
Due: none

ruble sign fix, auto login fix
  src/App/blocks/Header/Header.tsx
  src/App/components/TabsNav/TabsNavItem.tsx
  src/App/components/variables.st.css
  src/App/containers/Buy/Buy.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

mock data fixes
  src/App/containers/Cabinet/mock.ts
  src/App/models/Product.mock.ts
  src/App/services/user/mock.ts
  src/App/store/User/User.actions.mock.ts
Due: trigen-scripts lint:ts

snapshots upd
  test/__image_snapshots__/Blocks|Tickets__with-basic-state-snap.png
  test/__image_snapshots__/Components|Loading__with-children-snap.png
  test/__image_snapshots__/Components|Loading__with-default-state-snap.png
  test/__image_snapshots__/Components|PartnerCard__with-text-snap.png
  test/__image_snapshots__/Components|PartnerCard__without-text-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-badge-and-contacts-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-badge-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-default-data-snap.png
  test/__image_snapshots__/Components|ProfileCard__with-link-snap.png
  test/__image_snapshots__/Components|Section__with-content-snap.png
  test/__image_snapshots__/Components|SpeakerCard__with-default-data-snap.png
  test/__image_snapshots__/Components|Spinner__with-children-snap.png
  test/__image_snapshots__/Components|Spinner__with-default-state-snap.png
  test/__image_snapshots__/Components|TabsNav__with-3-items-snap.png
  test/__image_snapshots__/Components|TabsNav__with-basic-state-snap.png
  test/__image_snapshots__/Components|TicketPreview__with-vertical-state-snap.png
  test/__image_snapshots__/Components|Typography__typography-snap.png
  test/__image_snapshots__/Containers|Buy__with-default-state-snap.png
  test/__image_snapshots__/Containers|Cabinet__with-default-state-snap.png
  test/__image_snapshots__/Containers|CodeOfConduct__with-default-state-snap.png
  test/__image_snapshots__/Containers|Index__with-default-state-snap.png
  test/__image_snapshots__/Containers|Partners__with-default-state-snap.png
  test/__image_snapshots__/Containers|Speakers__with-default-state-snap.png
  test/__image_snapshots__/Containers|Team__with-default-state-snap.png
  test/__image_snapshots__/Containers|TermsOfService__with-default-state-snap.png
  test/__image_snapshots__/Route__-snap.png
  test/__image_snapshots__/Route__buy-snap.png
  test/__image_snapshots__/Route__cabinet-snap.png
  test/__image_snapshots__/Route__ru-buy-snap.png
  test/__image_snapshots__/Route__ru-cabinet-snap.png
  test/__image_snapshots__/Route__ru-snap.png
Due: none

fix timer cat fallback
  src/App/components/TimerCat/TimerCat.tsx
  src/App/components/TimerCat/fallback.jpg
  src/App/components/TimerCat/loadable.tsx
  src/App/components/TimerCat/types.ts
  src/App/globals.d.ts
Due: trigen-scripts lint:ts

share fix
  src/App/components/Share/Share.tsx
Due: trigen-scripts lint:ts

fix render: svgs
  src/App/render.tsx
Due: trigen-scripts lint:ts

timer cat fallback fix
  src/App/components/TimerCat/loadable.tsx
Due: trigen-scripts lint:ts

add small ticket, ticket data -> table
  src/email/assets/ticket.png
  src/email/index.mjml
Due: none

add mjml as devDep, fix package json, fix letter structure
  package.json
  src/email/index.mjml
  yarn.lock
Due: none

fix indents
  src/email/index.mjml
Due: none

add team members
  src/App/blocks/Header/Header.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

component/Offline
  src/App/components/Offline/Offline.tsx
  src/App/components/Offline/index.ts
Due: trigen-scripts lint:ts

add propTypes
  src/App/components/Offline/Offline.tsx
Due: trigen-scripts lint:ts

add onChnage when count
  src/App/components/Offline/Offline.tsx
Due: trigen-scripts lint:ts

fix build script
  package.json
  src/email/index.mjml
Due: none

add componentDidUnmount
  src/App/blocks/Footer/Footer.tsx
  src/App/components/Offline/Offline.tsx
Due: trigen-scripts lint:ts

remove test from footer
  src/App/blocks/Footer/Footer.tsx
Due: trigen-scripts lint:ts

toggleEffect -> addEffect
  src/App/components/Offline/Offline.tsx
Due: trigen-scripts lint:ts

Компонент Offline (#168)
  src/App/components/Offline/Offline.tsx
  src/App/components/Offline/index.ts
Due: trigen-scripts lint:ts

fix/token-expiration
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

offline: disable some buttons
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/components/Offline/Offline.tsx
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:ts

pwa mods and fixes
  package.json
  src/App/components/Offline/Offline.tsx
  src/App/components/TimerCat/loadable.tsx
  src/App/containers/Buy/Buy.tsx
  src/App/globals.d.ts
  src/App/index.tsx
  src/App/render.tsx
  src/App/serviceWorker.ts
  yarn.lock
Due: trigen-scripts lint:ts

snapshots
  test/__image_snapshots__/Route__-snap.png
  test/__image_snapshots__/Route__buy-snap.png
  test/__image_snapshots__/Route__cabinet-snap.png
  test/__image_snapshots__/Route__code-of-conduct-snap.png
  test/__image_snapshots__/Route__partners-snap.png
  test/__image_snapshots__/Route__partners-type-all-snap.png
  test/__image_snapshots__/Route__ru-buy-snap.png
  test/__image_snapshots__/Route__ru-cabinet-snap.png
  test/__image_snapshots__/Route__ru-code-of-conduct-snap.png
  test/__image_snapshots__/Route__ru-partners-snap.png
  test/__image_snapshots__/Route__ru-partners-type-all-snap.png
  test/__image_snapshots__/Route__ru-snap.png
  test/__image_snapshots__/Route__ru-speakers-id-BaruchSadogursky-snap.png
  test/__image_snapshots__/Route__ru-speakers-snap.png
  test/__image_snapshots__/Route__ru-speakers-type-all-snap.png
  test/__image_snapshots__/Route__ru-team-snap.png
  test/__image_snapshots__/Route__ru-terms-snap.png
  test/__image_snapshots__/Route__speakers-id-BaruchSadogursky-snap.png
  test/__image_snapshots__/Route__speakers-snap.png
  test/__image_snapshots__/Route__speakers-type-all-snap.png
  test/__image_snapshots__/Route__team-snap.png
  test/__image_snapshots__/Route__terms-snap.png
Due: none

fix redirect url, create refreshToken method
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

fix path
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

remove token from ls when refreshToken
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add clearToken service
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
