Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

dsl
  package.json
  src/App/render.tsx
  yarn.lock
Due: trigen-scripts lint:ts

norobots
  package.json
Due: none

stylelint comment
  src/App/App.st.css
Due: trigen-scripts lint:styles

upd i18n deps
  package.json
  yarn.lock
Due: none

trigger build
  package.json
Due: none

defer -> async
  package.json
  src/App/index.tsx
  src/App/render.tsx
  yarn.lock
Due: trigen-scripts lint:ts

esm example
  .browserslistrc
  .trigenscriptsrc
  src/App/render.tsx
Due: trigen-scripts lint:ts

noModule check
  .trigenscriptsrc
  src/App/render.tsx
Due: trigen-scripts lint:ts

need to update scripts
  src/App/render.tsx
Due: trigen-scripts lint:ts

only modern/old envs
  .browserslistrc
Due: none

upd deps
  .trigenscriptsrc
  package.json
  yarn.lock
Due: none

disable dstl
  .trigenscriptsrc
Due: none

partners fix
  src/App/blocks/Partners/Partners.tsx
Due: trigen-scripts lint:ts

flexis ui upd
  package.json
  yarn.lock
Due: none

Use Preact
  .trigenscriptsrc
  package.json
  src/App/components/Modal/Modal.tsx
  src/App/components/Share/Share.tsx
  yarn.lock
Due: trigen-scripts lint:ts

stories fix
  src/App/components/Schedule/Schedule.stories.tsx
Due: trigen-scripts lint:ts
