Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

fix buy check
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

remove text
  src/email/index.mjml
Due: none

add tamplate string for dynamic data
  src/email/index.mjml
Due: none

fix check for error
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

Перенаправлять на вход при истечении токена (#170)
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add link path to img, fix script for build letter
  package.json
  src/email/assets/cat.png
  src/email/assets/logo.png
  src/email/assets/meetup.png
  src/email/assets/telegram.png
  src/email/assets/ticket.png
  src/email/assets/twitter.png
  src/email/assets/vk.png
  src/email/index.mjml
Due: none

Верстка письма (#166)
  package.json
  src/email/index.mjml
  yarn.lock
Due: none

fix mail template
  src/email/index.mjml
Due: none

location fixes
  src/App/containers/Cabinet/Cabinet.st.css
  src/App/locales/en.json
  src/App/locales/ru.json
  src/email/index.mjml
Due: trigen-scripts lint:styles

a11y fixes
  package.json
  src/App/blocks/Header/Header.tsx
  src/App/components/Modal/Modal.tsx
  src/App/components/Share/Share.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  yarn.lock
Due: trigen-scripts lint:ts

sw: ignore /auth path
  src/App/serviceWorker.ts
Due: trigen-scripts lint:ts

fix(?) mail footer
  src/App/locales/en.json
  src/App/locales/ru.json
  src/email/index.mjml
Due: none

fix(?) mail
  src/email/index.mjml
Due: none

email fix for go temlates
  src/email/index.mjml
Due: none

meetup com link
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

locales mod
  src/App/locales/en.json
Due: none

team photos
  src/App/blocks/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

locales fix
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

DISABLE_RU mod
  src/App/index.tsx
  src/App/render.tsx
Due: trigen-scripts lint:ts

content mods, header fix for small screens
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
  src/App/components/variables.st.css
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

team members mod
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

deps upd, header mod, ios css fixes
  package.json
  src/App/App.st.css
  src/App/blocks/Facts/Facts.st.css
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/connected.ts
  src/App/blocks/Header/types.ts
  src/App/components/Modal/Modal.st.css
  src/App/components/Modal/crossButton.st.css
  src/App/components/Nav/Nav.st.css
  src/App/index.tsx
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

header logo fix
  src/App/blocks/Header/Header.st.css
Due: trigen-scripts lint:styles

update snapshots
  package.json
  test/__image_snapshots__/Route__-snap.png
  test/__image_snapshots__/Route__buy-snap.png
  test/__image_snapshots__/Route__cabinet-snap.png
  test/__image_snapshots__/Route__code-of-conduct-snap.png
  test/__image_snapshots__/Route__partners-snap.png
  test/__image_snapshots__/Route__partners-type-all-snap.png
  test/__image_snapshots__/Route__ru-buy-snap.png
  test/__image_snapshots__/Route__ru-cabinet-snap.png
  test/__image_snapshots__/Route__ru-code-of-conduct-snap.png
  test/__image_snapshots__/Route__ru-partners-snap.png
  test/__image_snapshots__/Route__ru-partners-type-all-snap.png
  test/__image_snapshots__/Route__ru-snap.png
  test/__image_snapshots__/Route__ru-speakers-id-BaruchSadogursky-snap.png
  test/__image_snapshots__/Route__ru-speakers-snap.png
  test/__image_snapshots__/Route__ru-speakers-type-all-snap.png
  test/__image_snapshots__/Route__ru-team-snap.png
  test/__image_snapshots__/Route__ru-terms-snap.png
  test/__image_snapshots__/Route__speakers-id-BaruchSadogursky-snap.png
  test/__image_snapshots__/Route__speakers-snap.png
  test/__image_snapshots__/Route__speakers-type-all-snap.png
  test/__image_snapshots__/Route__team-snap.png
  test/__image_snapshots__/Route__terms-snap.png
  yarn.lock
Due: none

team photos size, use web share api
  src/App/App.tsx
  src/App/components/Share/Share.tsx
  src/App/globals.d.ts
  src/App/locales/en.json
  src/index.html
Due: trigen-scripts lint:ts

android icons mod
  package.json
  src/favicons/android-chrome-144x144.png
  src/favicons/android-chrome-192x192.png
  src/favicons/android-chrome-256x256.png
  src/favicons/android-chrome-36x36.png
  src/favicons/android-chrome-384x384.png
  src/favicons/android-chrome-48x48.png
  src/favicons/android-chrome-512x512.png
  src/favicons/android-chrome-72x72.png
  src/favicons/android-chrome-96x96.png
Due: none

component/Schedule
  src/App/App.st.css
  src/App/components/Badge/Badge.st.css
  src/App/components/Badge/Badge.tsx
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/Schedule/Schedule.st.css
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItem/index.ts
  src/App/components/Schedule/index.ts
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add star
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.st.css
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.tsx
  src/App/components/Schedule/ScheduleFavoriteButton/index.ts
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/variables.st.css
  src/App/icons/star.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add ul li
  src/App/components/Schedule/Schedule.st.css
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add border-radius
  src/App/components/Schedule/Schedule.st.css
Due: trigen-scripts lint:styles

from ul to table, fix some css, fix types
  src/App/App.st.css
  src/App/components/Schedule/Schedule.st.css
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix indents
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

fix sharing images, speakers mods
  src/App/data/index.ts
  src/App/locales/en.json
Due: trigen-scripts lint:ts

og and twitter fixes
  src/App/App.tsx
  src/App/locales/en.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

speakers mods
  src/App/locales/en.json
Due: none

enhancement/SpeakersPromo
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
