Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

example for review and help
  src/App/blocks/Speakers/Speakers.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

story book fix
  src/App/containers/Speakers/Speakers.stories.tsx
Due: trigen-scripts lint:ts

fix onCLose
  src/App/App.tsx
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

types fix
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

add common/i18n file, fix indents, spaces etc
  src/App/App.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Team/Team.tsx
  src/App/components/Link/Link.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/components/common/i18n.ts
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

i18n.ts order fix
  src/App/components/common/i18n.ts
Due: trigen-scripts lint:ts

create common/i18n.ts for blocks
  src/App/App.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Team/Team.tsx
  src/App/blocks/common/i18n.ts
  src/App/components/Link/Link.tsx
  src/App/components/common/i18n.ts
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

add type
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

modal fix
  src/App/components/Modal/Modal.st.css
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove console.logs
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

modal style fix
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/containers/Speakers/SpeakerModal.st.css
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

renderDate fix
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:ts

storybook stylable api fix
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
Due: trigen-scripts lint:ts

add new mobile style
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

stylableApi fix
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
Due: trigen-scripts lint:ts

separator -> after
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Улучшение контейнера Spekears (#72)
  src/App/App.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Team/Team.tsx
  src/App/blocks/common/i18n.ts
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/Link/Link.tsx
  src/App/components/Modal/Modal.st.css
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/components/common/i18n.ts
  src/App/containers/Speakers/SpeakerModal.st.css
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/Speakers-container-filter
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/components/ContactLink/ContactLink.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

fix filter use router location instead window location
  src/App/blocks/Speakers/Speakers.tsx
  src/App/components/ContactLink/ContactLink.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

remove unnecessary descructuring
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

fix warnings about props
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/common/i18n.ts
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

use omit for delete props, fix destructuring
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

add routerProps const
  src/App/blocks/Speakers/Speakers.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

common router file
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/common/router.ts
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

fix filter when modal close or open
  src/App/blocks/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

use location.search instead state
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/common/i18n.ts
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

fix distructuring
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

use to with LocationDescriptorObject
  src/App/blocks/Speakers/Speakers.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

Фильтрация спикеров (#74)
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/common/i18n.ts
  src/App/blocks/common/router.ts
  src/App/components/ContactLink/ContactLink.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

component/Input
  src/App/components/Input/Input.st.css
  src/App/components/Input/Input.stories.tsx
  src/App/components/Input/Input.tsx
  src/App/components/Input/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style
  src/App/components/Input/Input.st.css
Due: trigen-scripts lint:styles

component/Select
  src/App/components/Select/Select.st.css
  src/App/components/Select/Select.stories.tsx
  src/App/components/Select/Select.tsx
  src/App/components/Select/SelectOption.tsx
  src/App/components/Select/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

css rules order fix
  src/App/components/Input/Input.st.css
Due: trigen-scripts lint:styles

add arrow
  src/App/components/Select/Select.st.css
Due: trigen-scripts lint:styles

fix storybook, add target blank, add min height ot img
  src/App/components/PartnerCard/PartnerCard.st.css
  src/App/components/PartnerCard/PartnerCard.stories.tsx
  src/App/components/PartnerCard/PartnerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

font size a11y fix
  src/App/components/PartnerCard/PartnerCard.st.css
Due: trigen-scripts lint:styles

story fix
  src/App/components/PartnerCard/PartnerCard.stories.tsx
Due: trigen-scripts lint:ts

Компонент PartnerCard (#70)
  src/App/components/PartnerCard/PartnerCard.st.css
  src/App/components/PartnerCard/PartnerCard.stories.tsx
  src/App/components/PartnerCard/PartnerCard.tsx
  src/App/components/PartnerCard/index.ts
  src/App/components/ProfileCard/ProfileCard.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component/PartnersInfo
  src/App/blocks/PartnersInfo/PartnersInfo.st.css
  src/App/blocks/PartnersInfo/PartnersInfo.stories.tsx
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/PartnersInfo/index.ts
  src/App/blocks/common/i18n.ts
  src/App/components/PartnerCard/PartnerCard.stories.tsx
  src/App/components/PartnerCard/PartnerCard.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix getPartners function
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/common/i18n.ts
  src/App/components/PartnerCard/PartnerCard.stories.tsx
  src/App/components/PartnerCard/PartnerCard.tsx
Due: trigen-scripts lint:ts
