Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

time prop fix
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

enhancement/Speakers-photos
  src/App/locales/en.json
Due: none

enhancement/Speakers-photos (#187)
  src/App/locales/en.json
Due: none

component/Scholarship
  src/App/blocks/Scholarship/Scholarship.st.css
  src/App/blocks/Scholarship/Scholarship.stories.tsx
  src/App/blocks/Scholarship/Scholarship.tsx
  src/App/blocks/Scholarship/index.ts
  src/App/containers/Index/IndexContainer.tsx
  src/App/icons/scholarship.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

svg use autoformat
  src/App/icons/scholarship.svg
Due: none

add locale
  src/App/blocks/Scholarship/Scholarship.st.css
  src/App/blocks/Scholarship/Scholarship.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

story fix
  src/App/blocks/Scholarship/Scholarship.stories.tsx
Due: trigen-scripts lint:ts

add types file, fix componendDidMount etc
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/types.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add link
  src/App/locales/en.json
Due: none

enhancement/meta-img
  src/App/data/index.ts
Due: trigen-scripts lint:ts

add currentDate to state
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

remove timeEnd prop
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

fix filter
  src/App/containers/Schedule/Schedule.st.css
  src/App/containers/Schedule/Schedule.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

indents fix
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

add img resize, png -> jpg
  src/App/data/index.ts
Due: trigen-scripts lint:ts

Сменить изображение для мета-тегов и Open Graph (#190)
  src/App/data/index.ts
Due: trigen-scripts lint:ts

remove overflow, subtitle -> text
  src/App/blocks/Scholarship/Scholarship.st.css
  src/App/blocks/Scholarship/Scholarship.tsx
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix indents, spaces, updateDate -> updateCurrentDate
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

aritcle -> div
  src/App/blocks/Scholarship/Scholarship.st.css
  src/App/blocks/Scholarship/Scholarship.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix getDerivedStateFromProps
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

fix names
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

speakers update
  src/App/locales/en.json
Due: none

remove content div
  src/App/blocks/Scholarship/Scholarship.st.css
  src/App/blocks/Scholarship/Scholarship.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

refactor getDerivedStateFromProps
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

little fix getDerivedStateFromProps
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

Блок Scholarship (#188)
  src/App/blocks/Scholarship/Scholarship.st.css
  src/App/blocks/Scholarship/Scholarship.stories.tsx
  src/App/blocks/Scholarship/Scholarship.tsx
  src/App/blocks/Scholarship/index.ts
  src/App/containers/Index/IndexContainer.tsx
  src/App/icons/scholarship.svg
  src/App/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

ML speakers added
  src/App/locales/en.json
Due: none

DISABLE_SW env variable
  README.md
  src/App/index.tsx
Due: trigen-scripts lint:ts

last fix getDerivedStateFromProps
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

Minor fixes in speakers details
  src/App/locales/en.json
Due: none

Speakers & partners update (#191)
  src/App/locales/en.json
Due: none

win win
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/connected.ts
  src/App/blocks/Header/types.ts
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Speakers/connected.ts
  src/App/blocks/Speakers/types.ts
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/SpeakersPromo/connected.ts
  src/App/blocks/SpeakersPromo/types.ts
  src/App/serviceWorker.ts
Due: trigen-scripts lint:ts

speakers moved to fetch data
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/speakers/en.fetch.json
Due: none

cs fix; deps upd; modals fix
  package.json
  scripts/webpack.js
  src/App/blocks/Header/connected.ts
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Speakers/connected.ts
  src/App/blocks/Speakers/mock.ts
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/SpeakersPromo/connected.ts
  src/App/blocks/SpeakersPromo/mock.ts
  src/App/services/speakers/client.ts
  yarn.lock
Due: trigen-scripts lint:ts

dedupe babel/runtime
  package.json
  scripts/webpack.js
  yarn.lock
Due: none

rollback @storybook/addon-viewport@^5.1.11
  package.json
  yarn.lock
Due: none

enhancement/Schedule-data-fetch
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/index.ts
  src/App/containers/Schedule/mock.ts
  src/App/containers/Schedule/types.ts
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/schedule/en.fetch.json
  src/App/services/i18n/index.ts
  src/App/services/schedule/client.ts
  src/App/services/schedule/index.ts
  src/App/store/Schedule/Schedule.actions.ts
  src/App/store/Schedule/Schedule.reducer.ts
  src/App/store/Schedule/Schedule.types.ts
  src/App/store/Schedule/index.ts
  src/App/store/Schedule/register.ts
  src/App/store/index.ts
  src/App/store/segments.ts
  src/App/store/types.ts
Due: trigen-scripts lint:ts
