Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

remove console.log
  src/App/store/Schedule/Schedule.actions.ts
Due: trigen-scripts lint:ts

component/VenuePlan-block
  src/App/App.tsx
  src/App/blocks/VenuePlan/VenuePlan.st.css
  src/App/blocks/VenuePlan/VenuePlan.stories.tsx
  src/App/blocks/VenuePlan/VenuePlan.tsx
  src/App/blocks/VenuePlan/index.ts
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/VenuePlan/VenuePlan.stories.tsx
  src/App/containers/VenuePlan/VenuePlan.tsx
  src/App/containers/VenuePlan/index.ts
  src/App/containers/VenuePlan/loadable.tsx
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/routes.ts
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add renderPlan method
  src/App/blocks/VenuePlan/VenuePlan.tsx
Due: trigen-scripts lint:ts

fix spaces
  src/App/blocks/VenuePlan/VenuePlan.tsx
Due: trigen-scripts lint:ts

locale fix
  src/App/data/locales/en.json
Due: none

enhancement/Schedule-mobile-badge
  src/App/containers/Schedule/Schedule.st.css
Due: trigen-scripts lint:styles

enhancement/Schedule-mobile-badge (#236)
  src/App/containers/Schedule/Schedule.st.css
Due: trigen-scripts lint:styles

fix some style
  src/App/blocks/VenuePlan/VenuePlan.st.css
  src/App/blocks/VenuePlan/VenuePlan.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

rework favorite and reseravtion logic
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/types.ts
  src/App/models/Favorite.mock.ts
  src/App/services/schedule/mock.ts
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.actions.ts
  src/App/store/Schedule/Schedule.reducer.ts
Due: trigen-scripts lint:ts

remove unnecessary action
  src/App/services/schedule/mock.ts
Due: trigen-scripts lint:ts

fix locale for labels
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:ts

type type remove from propsType
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

add workshopDisabled logic
  src/App/services/schedule/index.ts
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.actions.ts
Due: trigen-scripts lint:ts

change names
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.actions.ts
Due: trigen-scripts lint:ts

add spaces, fix action check for status
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.actions.ts
Due: trigen-scripts lint:ts

Updated english schedule and speakers
  src/App/data/schedule/en.fetch.json
  src/App/data/speakers/en.fetch.json
Due: none

remove context from SchduleItem
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

clear cache on install
  src/App/serviceWorker.ts
  src/App/util/UpdaterClient.ts
  src/App/util/UpdaterHost.ts
  src/App/util/connectUpdater.ts
Due: trigen-scripts lint:ts

enhanced error handling, cabinet contaienr mod
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

ticket filter
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

selector mod
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/Cabinet/types.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add new team members
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

add images for new team members
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

add new team members (#237)
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

move fetchWorkshops from action to service, add new mock methods
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/mock.ts
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
  src/App/services/speakers/mock.ts
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.actions.ts
  src/App/store/Speakers/Speakers.actions.mock.ts
Due: trigen-scripts lint:ts

fix names
  src/App/store/Schedule/Schedule.actions.mock.ts
Due: trigen-scripts lint:ts

use mock actions for speakers storybook
  src/App/blocks/SpeakersPromo/mock.ts
  src/App/containers/Speakers/mock.ts
  src/App/store/Speakers/Speakers.actions.mock.ts
Due: trigen-scripts lint:ts

fix mock action, service etc
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
  src/App/services/speakers/index.ts
  src/App/services/speakers/mock.ts
Due: trigen-scripts lint:ts

some little fixes
  src/App/blocks/SpeakersPromo/mock.ts
  src/App/containers/Schedule/mock.ts
  src/App/containers/Speakers/mock.ts
  src/App/services/schedule/mock.ts
  src/App/services/speakers/mock.ts
  src/App/store/Speakers/Speakers.actions.mock.ts
Due: trigen-scripts lint:ts

add disabled workshop to storybook
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
Due: trigen-scripts lint:ts

add lang arg to mock
  src/App/services/schedule/mock.ts
  src/App/store/Schedule/Schedule.actions.mock.ts
Due: trigen-scripts lint:ts

fetchWorkshopsItems fix
  src/App/models/Reservation.mock.ts
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
  src/App/services/speakers/index.ts
Due: trigen-scripts lint:ts

test fix
  src/App/services/schedule/spec.ts
Due: trigen-scripts lint:ts

fetchWorkshopsItems map fix
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
Due: trigen-scripts lint:ts

Запись на воркшоп и закладки (#211)
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/mock.ts
  src/App/containers/Schedule/types.ts
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/schedule/en.fetch.json
  src/App/models/Favorite.mock.ts
  src/App/models/Reservation.mock.ts
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
  src/App/services/speakers/index.ts
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.reducer.ts
  src/App/store/Schedule/Schedule.types.ts
  src/App/store/Schedule/register.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Сервис и экшны для reservation и favorites (#205)
  jest.config.json
  src/App/components/Schedule/ScheduleFavoriteButton/ScheduleFavoriteButton.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/mock.ts
  src/App/containers/Schedule/types.ts
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/schedule/en.fetch.json
  src/App/models/Favorite.mock.ts
  src/App/models/Favorite.ts
  src/App/models/Reservation.mock.ts
  src/App/models/Reservation.ts
  src/App/services/schedule/adapters.ts
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
  src/App/services/schedule/spec.ts
  src/App/services/speakers/index.ts
  src/App/services/user/spec.ts
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.reducer.ts
  src/App/store/Schedule/Schedule.types.ts
  src/App/store/Schedule/register.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/Partners-block-img
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

enhancement/Partners-block-img (#239)
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

add new team member
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

add contact for team member
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none
