Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

story fix
  src/App/containers/Schedule/Schedule.stories.tsx
Due: trigen-scripts lint:ts

add pendingActions
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/types.ts
Due: trigen-scripts lint:ts

fix console error
  src/App/containers/Schedule/Schedule.stories.tsx
Due: trigen-scripts lint:ts

fix storybook locale path
  src/App/containers/Schedule/Schedule.stories.tsx
Due: trigen-scripts lint:ts

enhancement/Buy-promocode
  src/App/containers/Buy/Buy.tsx
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

remove console.log
  src/App/containers/Buy/Buy.tsx
Due: trigen-scripts lint:ts

spaces fix
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add check for empty redirectURL
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add locale for schedule in data/locale
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

move check error form action to service
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

error message fix
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

service method buy fix
  src/App/blocks/common/errors.ts
  src/App/containers/Buy/Buy.tsx
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
Due: trigen-scripts lint:ts

Убрать чувствительность к регистру для промокодов. (#196)
  src/App/blocks/common/errors.ts
  src/App/containers/Buy/Buy.tsx
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

mods
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/services/i18n/index.ts
  src/App/store/Schedule/register.ts
Due: trigen-scripts lint:ts

Контейнер Schedule: получение данных (#194)
  src/App/containers/Schedule/Schedule.stories.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/index.ts
  src/App/containers/Schedule/mock.ts
  src/App/containers/Schedule/types.ts
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/schedule/en.fetch.json
  src/App/services/i18n/index.ts
  src/App/services/schedule/client.ts
  src/App/services/schedule/index.ts
  src/App/store/Schedule/Schedule.actions.ts
  src/App/store/Schedule/Schedule.reducer.ts
  src/App/store/Schedule/Schedule.types.ts
  src/App/store/Schedule/index.ts
  src/App/store/Schedule/register.ts
  src/App/store/index.ts
  src/App/store/segments.ts
  src/App/store/types.ts
Due: trigen-scripts lint:ts

Speakers update
  src/App/data/speakers/en.fetch.json
Due: none

Updated scholarship text
  src/App/data/locales/en.json
Due: none

minor fix
  src/App/data/speakers/en.fetch.json
Due: none

Applied updates from master
  src/App/blocks/common/errors.ts
  src/App/containers/Buy/Buy.tsx
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

enhancement/SpeakerCard
  src/App/components/SpeakerCard/SpeakerCard.st.css
Due: trigen-scripts lint:styles

new talk levels
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/schedule/en.fetch.json
  src/App/data/speakers/en.fetch.json
  src/App/store/Schedule/Schedule.actions.ts
Due: trigen-scripts lint:ts

schedule dataprovider mod; styles fixes and mods
  src/App/components/Badge/mods/Badge--fill.st.css
  src/App/components/Badge/mods/Badge--outline.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.st.css
  src/App/containers/Schedule/Schedule.tsx
  src/App/data/locales/en.json
  src/App/data/schedule/en.fetch.json
  src/App/services/i18n/index.ts
  src/App/services/schedule/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix Speakers container
  src/App/containers/Speakers/Speakers.stories.tsx
Due: trigen-scripts lint:ts

talks in speaker card
  src/App/blocks/SpeakerModal/SpeakerModal.tsx
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/components/SpeakerCard/SpeakerCard.stories.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/services/schedule/index.ts
  src/App/services/speakers/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

containers and blocks mods and fixes
  src/App/blocks/SpeakersPromo/mock.ts
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/services/speakers/index.ts
Due: trigen-scripts lint:ts

file
  src/App/containers/Speakers/mock.ts
Due: trigen-scripts lint:ts

enhancement/Speakers-block-to-container
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Speakers/index.ts
  src/App/containers/Speakers/Speakers.st.css
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/connected.ts
  src/App/containers/Speakers/index.ts
  src/App/containers/Speakers/mock.ts
  src/App/containers/Speakers/types.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

schedule fix, schedule draft, style fixes
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/SpeakerCard/SpeakerCard.st.css
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/types.ts
  src/App/data/schedule/en.fetch.json
  src/App/store/Schedule/Schedule.actions.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component/ScheduleItemModal
  src/App/components/Schedule/Schedule.stories.tsx
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.tsx
  src/App/components/Schedule/ScheduleItemModal/index.ts
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add some style
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.st.css
  src/App/components/Schedule/ScheduleItemModal/ScheduleItemModal.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add description check
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

component/Reservation-and-favorites-services
  src/App/models/Favorite.ts
  src/App/models/Reservation.ts
  src/App/services/user/index.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
Due: trigen-scripts lint:ts

add some spec
  src/App/models/Favorite.mock.ts
  src/App/services/user/mock.ts
  src/App/services/user/spec.ts
Due: trigen-scripts lint:ts

deps upd, stylable min fix
  package.json
  yarn.lock
Due: none

Speakers update (#204)
  src/App/data/locales/en.json
  src/App/data/speakers/en.fetch.json
Due: none

add new test
  src/App/models/Reservation.mock.ts
  src/App/services/user/mock.ts
  src/App/services/user/spec.ts
Due: trigen-scripts lint:ts

add new test
  src/App/services/user/mock.ts
Due: trigen-scripts lint:ts

add new adapters
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

add check for reservationIndex
  src/App/store/User/User.reducer.ts
Due: trigen-scripts lint:ts

enhancement/Speakers-block-to-container (#202)
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Speakers/index.ts
  src/App/containers/Speakers/Speakers.st.css
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/connected.ts
  src/App/containers/Speakers/index.ts
  src/App/containers/Speakers/mock.ts
  src/App/containers/Speakers/types.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
