Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

Fix/add team member (#240)
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

enhancement/Schedule-buttons-controls
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/Speakers-container-talk-modal
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:ts

rework ScheduleItemModal
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.st.css
  src/App/components/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.tsx
  src/App/components/Schedule/ScheduleDescriptionModal/index.ts
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItemModal/index.ts
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/connected.ts
  src/App/containers/Speakers/types.ts
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

order props fix
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

storybook fix
  src/App/containers/Speakers/mock.ts
  src/App/data/schedule/en.fetch.json
Due: trigen-scripts lint:ts

fix russian locales
  src/App/data/locales/ru.json
Due: none

fix russian locales (#245)
  src/App/data/locales/ru.json
Due: none

hide controls when status Past
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

add svg maps
  src/App/blocks/VenuePlan/VenuePlan.st.css
  src/App/blocks/VenuePlan/VenuePlan.tsx
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

move modal from component to container
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleDescriptionModal/index.ts
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.st.css
  src/App/containers/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.tsx
  src/App/containers/Schedule/ScheduleDescriptionModal/index.ts
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add withRouter to Item
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

props fix
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:ts

getDerivedStateFromProps little check fix
  src/App/containers/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.tsx
Due: trigen-scripts lint:ts

Убрать переносы строк в кнопках записи на воркшоп, скрывать контролы если ивент прошел (#242)
  src/App/components/Schedule/ScheduleItem/ScheduleItem.st.css
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

render fix
  src/App/containers/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.tsx
Due: trigen-scripts lint:ts

add getVenuePlanImage
  src/App/blocks/VenuePlan/VenuePlan.stories.tsx
  src/App/blocks/VenuePlan/VenuePlan.tsx
  src/App/blocks/VenuePlan/index.ts
  src/App/containers/VenuePlan/VenuePlan.st.css
  src/App/containers/VenuePlan/VenuePlan.stories.tsx
  src/App/containers/VenuePlan/VenuePlan.tsx
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

names fix
  src/App/containers/VenuePlan/VenuePlan.stories.tsx
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

remove speakers check, remove seapker props from SpeakerCard etc
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/containers/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.tsx
Due: trigen-scripts lint:ts

names fix
  src/App/containers/VenuePlan/VenuePlan.tsx
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

change img urls
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

Добавить блок VenuePlan (#234)
  src/App/App.tsx
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/containers/VenuePlan/VenuePlan.st.css
  src/App/containers/VenuePlan/VenuePlan.stories.tsx
  src/App/containers/VenuePlan/VenuePlan.tsx
  src/App/containers/VenuePlan/index.ts
  src/App/containers/VenuePlan/loadable.tsx
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/routes.ts
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/Schedule-container-initial-status
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

change method call postion
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

Поправить статусы в контейнере Schedule (#247)
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

fetchFavorites and reservation only when loged in
  src/App/services/schedule/index.ts
  src/App/services/schedule/spec.ts
Due: trigen-scripts lint:ts

fix test
  src/App/services/schedule/spec.ts
Due: trigen-scripts lint:ts

space fix
  src/App/services/schedule/index.ts
Due: trigen-scripts lint:ts

add check for login for container
  src/App/containers/Schedule/Schedule.tsx
  src/App/services/schedule/index.ts
  src/App/services/schedule/spec.ts
  src/App/store/Schedule/register.ts
Due: trigen-scripts lint:ts

console.log remove
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/connected.ts
Due: trigen-scripts lint:ts

Добавить модалку описания доклада в контейнер Speakers (#244)
  src/App/components/Schedule/Schedule.tsx
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/components/Schedule/ScheduleItemModal/index.ts
  src/App/components/SpeakerCard/SpeakerCard.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.st.css
  src/App/containers/Schedule/ScheduleDescriptionModal/ScheduleDescriptionModal.tsx
  src/App/containers/Schedule/ScheduleDescriptionModal/index.ts
  src/App/containers/Schedule/connected.ts
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/connected.ts
  src/App/containers/Speakers/mock.ts
  src/App/containers/Speakers/types.ts
  src/App/data/schedule/en.fetch.json
  src/App/store/Schedule/register.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

schedule fix
  src/App/containers/Schedule/Schedule.tsx
Due: trigen-scripts lint:ts

fake ru locales
  src/App/data/schedule/old.ru.fetch.json
  src/App/data/schedule/ru.fetch.json
Due: none

restore schedule
  src/App/containers/Schedule/Schedule.tsx
  src/App/data/schedule/en.fetch.json
  src/App/data/schedule/ru.fetch.json
  src/App/data/speakers/en.fetch.json
Due: trigen-scripts lint:ts

disable workshops
  src/App/containers/Schedule/Schedule.tsx
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
  src/App/services/speakers/index.ts
Due: trigen-scripts lint:ts

goodbye ❤️
  src/App/blocks/Main/Main.st.css
  src/App/blocks/Main/Main.tsx
  src/App/blocks/Main/goodbye.jpg
  src/App/data/index.ts
  src/App/data/locales/en.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

render mod; deps upd
  package.json
  src/App/render.tsx
  yarn.lock
Due: trigen-scripts lint:ts

sw updater mod
  src/App/updater.ts
  src/App/util/UpdaterClient.ts
Due: trigen-scripts lint:ts

cleanup
  src/App/containers/Schedule/Schedule.tsx
  src/App/services/schedule/index.ts
  src/App/services/schedule/mock.ts
  src/App/services/speakers/index.ts
Due: trigen-scripts lint:ts

dsl
  .browserslistrc
  package.json
  scripts/webpack.js
  src/App/App.st.css
  src/App/globals.d.ts
  src/App/index.tsx
  src/App/render.tsx
  src/index.html
  src/preloader.html
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
