Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

add columns array for render columns
  src/App/blocks/PartnersInfo/PartnersInfo.st.css
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix getPartners function, if else -> switch
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/common/i18n.ts
Due: trigen-scripts lint:ts

fix indents, spaces, add return null
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/common/i18n.ts
Due: trigen-scripts lint:ts

cs fix
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/common/i18n.ts
Due: trigen-scripts lint:ts

add more partners to json
  src/App/blocks/Speakers/Speakers.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

uniq key add to partners
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

fix css, togglenav margin bottom, add min-width to li
  src/App/blocks/PartnersInfo/PartnersInfo.st.css
Due: trigen-scripts lint:styles

Блок PartnersInfo (#80)
  src/App/blocks/PartnersInfo/PartnersInfo.st.css
  src/App/blocks/PartnersInfo/PartnersInfo.stories.tsx
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/PartnersInfo/index.ts
  src/App/blocks/common/i18n.ts
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

components/PartnersInfo-container
  src/App/blocks/Partners/Partners.tsx
  src/App/containers/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/PartnersInfo/PartnersInfo.stories.tsx
  src/App/containers/PartnersInfo/PartnersInfo.tsx
  src/App/containers/PartnersInfo/index.ts
  src/App/containers/PartnersInfo/loadable.tsx
  src/App/containers/Team/Team.stories.tsx
Due: trigen-scripts lint:ts

add getPartnersInfo and getParters
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/common/i18n.ts
Due: trigen-scripts lint:ts

component/TicketForm
  src/App/components/FormGroup/FormGroup.st.css
  src/App/components/FormGroup/FormGroup.stories.tsx
  src/App/components/FormGroup/FormGroup.tsx
  src/App/components/FormGroup/index.ts
  src/App/components/TicketForm/TicketForm.st.css
  src/App/components/TicketForm/TicketForm.stories.tsx
  src/App/components/TicketForm/TicketForm.tsx
  src/App/components/TicketForm/TicketFormFooter/TicketFormFooter.st.css
  src/App/components/TicketForm/TicketFormFooter/TicketFormFooter.tsx
  src/App/components/TicketForm/TicketFormFooter/index.ts
  src/App/components/TicketForm/TicketFormGroup.tsx
  src/App/components/TicketForm/TicketFormLabel.tsx
  src/App/components/TicketForm/TicketFormRow.tsx
  src/App/components/TicketForm/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style, change description render
  src/App/components/FormGroup/FormGroup.st.css
  src/App/components/FormGroup/FormGroup.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/components/Input/Input.stories.tsx
Due: trigen-scripts lint:ts

Компонент Input (#77)
  src/App/components/Input/Input.st.css
  src/App/components/Input/Input.stories.tsx
  src/App/components/Input/Input.tsx
  src/App/components/Input/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Контейнер PartnersInfo (#82)
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/common/i18n.ts
  src/App/containers/CodeOfConduct/CodeOfConduct.stories.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/PartnersInfo/PartnersInfo.stories.tsx
  src/App/containers/PartnersInfo/PartnersInfo.tsx
  src/App/containers/PartnersInfo/index.ts
  src/App/containers/PartnersInfo/loadable.tsx
  src/App/containers/Team/Team.stories.tsx
Due: trigen-scripts lint:ts

add style for notice
  src/App/components/FormGroup/FormGroup.st.css
  src/App/components/FormGroup/FormGroup.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix disabled style
  src/App/components/Select/Select.st.css
Due: trigen-scripts lint:styles

component/TicketPreview
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreview.tsx
  src/App/components/TicketPreview/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

render mod, content mod, deps upd
  package.json
  src/App/App.tsx
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Team/Team.tsx
  src/App/blocks/common/i18n.ts
  src/App/components/Link/Link.tsx
  src/App/components/common/i18n.ts
  src/App/containers/Partners/Partners.stories.tsx
  src/App/containers/Partners/Partners.tsx
  src/App/containers/Partners/index.ts
  src/App/containers/Partners/loadable.tsx
  src/App/containers/PartnersInfo/index.ts
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/index.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/render.tsx
  src/App/routes.ts
  src/App/services/i18n/index.ts
  src/index.html
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

flexis redux mod
  src/App/store/index.ts
Due: trigen-scripts lint:ts

fix route
  src/App/blocks/Speakers/Speakers.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

deps upd
  package.json
  yarn.lock
Due: none

#50
  package.json
  src/App/render.tsx
  yarn.lock
Due: trigen-scripts lint:ts

Content mods (#88)
  package.json
  src/App/App.tsx
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/blocks/PartnersInfo/PartnersInfo.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Team/Team.tsx
  src/App/blocks/common/i18n.ts
  src/App/components/Link/Link.tsx
  src/App/components/common/i18n.ts
  src/App/containers/Partners/Partners.stories.tsx
  src/App/containers/Partners/Partners.tsx
  src/App/containers/Partners/index.ts
  src/App/containers/Partners/loadable.tsx
  src/App/containers/PartnersInfo/index.ts
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/index.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/render.tsx
  src/App/routes.ts
  src/App/services/i18n/index.ts
  src/App/store/index.ts
  src/index.html
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Компонент Select (#78)
  src/App/components/Select/Select.st.css
  src/App/components/Select/Select.stories.tsx
  src/App/components/Select/Select.tsx
  src/App/components/Select/SelectOption.tsx
  src/App/components/Select/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add some style, add afterparty block
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

some css changes
  src/App/components/TicketPreview/TicketPreview.st.css
Due: trigen-scripts lint:styles

fix some decstop style
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

wip
  .babelrc
  package.json
  src/App/blocks/Main/Main.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/components/TimerCat/loadable.ts
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/index.tsx
  src/App/render.tsx
  src/App/routes.ts
  yarn.lock
Due: trigen-scripts lint:ts

add button when afterparty false
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreview.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

wip: fixes, mods
  package.json
  scripts/webpack.js
  src/App/App.tsx
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Partners/Partners.tsx
  src/App/components/TimerCat/TimerCat.tsx
  src/App/components/TimerCat/icon/date.tsx
  src/App/data/index.ts
  src/App/render.tsx
  yarn.lock
Due: trigen-scripts lint:ts

add BrowserRouter to SpeakersContainer
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

remove console.log
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

add border to afterparty
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

FUCK THIS STYLABLE SHIT
  src/App/components/TimerCat/loadable.ts
  src/App/containers/CodeOfConduct/loadable.tsx
  src/App/containers/Index/loadable.tsx
  yarn.lock
Due: trigen-scripts lint:ts

wip
  src/App/components/TimerCat/loadable.tsx
Due: trigen-scripts lint:ts

fix routing
  src/App/blocks/Speakers/Speakers.tsx
  src/App/containers/Speakers/SpeakerModal.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

wip
  package.json
  yarn.lock
Due: none

addSearchParams add
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/common/router.ts
  src/App/containers/Speakers/SpeakerModal.tsx
Due: trigen-scripts lint:ts

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
