Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

add Subscribe to Loading block, fix padding
  src/App/blocks/Subscribe/Subscribe.st.css
  src/App/blocks/landing.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Компонент ProfileCard (#23)
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/components/ProfileCard/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component Team
  src/App/blocks/Team/Team.st.css
  src/App/blocks/Team/Team.stories.tsx
  src/App/blocks/Team/Team.tsx
  src/App/blocks/Team/index.ts
  src/App/components/ProfileCard/ProfileCard.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/blocks/Footer/Footer.st.css
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/landing.stories.tsx
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Блок Footer (#25)
  src/App/blocks/Footer/Footer.st.css
  src/App/blocks/Footer/Footer.stories.tsx
  src/App/blocks/Footer/Footer.tsx
  src/App/blocks/Footer/index.ts
  src/App/components/variables.st.css
  src/App/icons/envelope.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix some style
  src/App/blocks/Subscribe/Subscribe.st.css
Due: trigen-scripts lint:styles

use variables for sizez
  src/App/blocks/Subscribe/Subscribe.st.css
Due: trigen-scripts lint:styles

fix some css, remove item class use li tag
  src/App/blocks/Team/Team.st.css
  src/App/blocks/Team/Team.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/blocks/Team/Team.st.css
  src/App/blocks/Team/Team.tsx
  src/App/blocks/landing.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Блок Team (#31)
  src/App/blocks/Team/Team.st.css
  src/App/blocks/Team/Team.stories.tsx
  src/App/blocks/Team/Team.tsx
  src/App/blocks/Team/index.ts
  src/App/blocks/landing.stories.tsx
  src/App/components/ProfileCard/ProfileCard.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component Speakers
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.stories.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/Speakers/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add Speaker to Landing story
  src/App/blocks/landing.stories.tsx
Due: trigen-scripts lint:ts

add SROnly label, remove checkbox state, fix some style
  src/App/blocks/Subscribe/Subscribe.st.css
  src/App/blocks/Subscribe/Subscribe.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Main localized
  package.json
  src/App/blocks/Main/Main.stories.tsx
  src/App/blocks/Main/Main.tsx
  src/App/blocks/landing.stories.tsx
  tsconfig.json
  yarn.lock
Due: trigen-scripts lint:ts

Main localized
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

i18n (#33)
  package.json
  src/App/blocks/Main/Main.stories.tsx
  src/App/blocks/Main/Main.tsx
  src/App/blocks/landing.stories.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  tsconfig.json
  yarn.lock
Due: trigen-scripts lint:ts

text-indent -> padding-left
  src/App/blocks/Subscribe/Subscribe.st.css
Due: trigen-scripts lint:styles

variable for media query fix
  src/App/blocks/Speakers/Speakers.st.css
Due: trigen-scripts lint:styles

enhancement i18n-Header
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

fix order
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

enhancement i18n-Facts
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

fix names
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

enhancement i18n-Location
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

enhancement i18n-Footer
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

enhancement i18n-Partners
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

enhancement i18n-Team
  src/App/locales/en.json
  src/App/locales/ru.json
Due: none

final changes
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.stories.tsx
  src/App/blocks/Header/Header.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Локаль Header (#35)
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.stories.tsx
  src/App/blocks/Header/Header.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

final changes
  src/App/blocks/Facts/Facts.stories.tsx
  src/App/blocks/Facts/Facts.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

Локаль Facts (#36)
  src/App/blocks/Facts/Facts.stories.tsx
  src/App/blocks/Facts/Facts.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

enhancement i18n-Location (#37)
  src/App/blocks/Location/Location.st.css
  src/App/blocks/Location/Location.stories.tsx
  src/App/blocks/Location/Location.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement i18n-Footer (#38)
  src/App/blocks/Footer/Footer.stories.tsx
  src/App/blocks/Footer/Footer.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

enhancement Button-secondary
  src/App/components/Button/Button.st.css
  src/App/components/Button/Button.stories.tsx
  src/App/components/Button/Button.tsx
  src/App/components/Button/mods/Button--disabled.st.css
  src/App/components/Button/mods/Button--secondary.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove duplicate css
  src/App/components/Button/Button.st.css
  src/App/components/Button/mods/Button--disabled.st.css
Due: trigen-scripts lint:styles

Secondary стили для кнопки (#41)
  src/App/components/Button/Button.st.css
  src/App/components/Button/Button.stories.tsx
  src/App/components/Button/Button.tsx
  src/App/components/Button/mods/Button--secondary.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix btb
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix btn
  src/App/blocks/Subscribe/Subscribe.st.css
  src/App/blocks/Subscribe/Subscribe.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove position relative css
  src/App/blocks/Speakers/Speakers.st.css
Due: trigen-scripts lint:styles

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
