Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

fix spaces
  src/App/components/ScrollToTop/ScrollToTop.tsx
Due: trigen-scripts lint:ts

Блок Subscribe (#28)
  src/App/blocks/Subscribe/Subscribe.st.css
  src/App/blocks/Subscribe/Subscribe.stories.tsx
  src/App/blocks/Subscribe/Subscribe.tsx
  src/App/blocks/Subscribe/index.ts
  src/App/blocks/landing.stories.tsx
  src/App/components/Link/Link.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Компонент ScrollToTop (#54)
  src/App/components/ScrollToTop/ScrollToTop.tsx
  src/App/components/ScrollToTop/index.ts
Due: trigen-scripts lint:ts

component Modal
  src/App/components/Modal/Modal.st.css
  src/App/components/Modal/Modal.stories.tsx
  src/App/components/Modal/Modal.tsx
  src/App/components/Modal/crossButton.st.css
  src/App/components/Modal/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix Router from render -> component, fix spaces
  src/App/App.tsx
  src/App/containers/Index/IndexContainer.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Team/Team.tsx
Due: trigen-scripts lint:ts

pull master, add ScrollToTop component to App
  src/App/App.tsx
Due: trigen-scripts lint:ts

fix ScrollToTop component, use different in App components
  src/App/App.tsx
  src/App/components/ScrollToTop/ScrollToTop.tsx
Due: trigen-scripts lint:ts

add defaultProps
  src/App/components/ScrollToTop/ScrollToTop.tsx
Due: trigen-scripts lint:ts

Сделать контейнеры страниц из блоков (#55)
  src/App/App.tsx
  src/App/blocks/Speakers/Speakers.tsx
  src/App/components/ScrollToTop/ScrollToTop.tsx
  src/App/containers/Index/IndexContainer.tsx
  src/App/containers/Index/index.ts
  src/App/containers/Index/loadable.tsx
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/index.ts
  src/App/containers/Speakers/loadable.tsx
  src/App/containers/Team/Team.tsx
  src/App/containers/Team/index.ts
  src/App/containers/Team/loadable.tsx
Due: trigen-scripts lint:ts

add stories
  src/App/blocks/landing.stories.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/Index/IndexContainer.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Team/Team.stories.tsx
Due: trigen-scripts lint:ts

add mobile style
  src/App/components/Modal/Modal.st.css
Due: trigen-scripts lint:styles

fix stortbook
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Team/Team.stories.tsx
Due: trigen-scripts lint:ts

Сделать контейнеры страниц из блоков (#58)
  src/App/blocks/landing.stories.tsx
  src/App/containers/Index/Index.stories.tsx
  src/App/containers/Index/IndexContainer.tsx
  src/App/containers/Speakers/Speakers.stories.tsx
  src/App/containers/Team/Team.stories.tsx
Due: trigen-scripts lint:ts

fix shadow, fix media query
  src/App/components/Modal/Modal.st.css
Due: trigen-scripts lint:styles

enhancement ProfileCard-hover-focus
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.tsx
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add border before to figure
  src/App/blocks/Speakers/Speakers.tsx
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove unused props
  src/App/components/ProfileCard/ProfileCard.tsx
Due: trigen-scripts lint:ts

add mobile style, pink header etc
  src/App/components/Modal/Modal.st.css
  src/App/components/Modal/crossButton.st.css
Due: trigen-scripts lint:styles

z-index fix
  src/App/blocks/Header/Header.st.css
  src/App/components/Modal/Modal.st.css
Due: trigen-scripts lint:styles

add new story with header
  src/App/components/Modal/Modal.stories.tsx
Due: trigen-scripts lint:ts

import order fix
  src/App/components/Modal/Modal.stories.tsx
Due: trigen-scripts lint:ts

fix css, close btn padding, mobile modal width etc
  src/App/components/Modal/Modal.st.css
  src/App/components/Modal/Modal.stories.tsx
  src/App/components/Modal/crossButton.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add event listener on header click, fix some style
  src/App/components/Modal/Modal.st.css
  src/App/components/Modal/Modal.tsx
  src/App/components/Modal/crossButton.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove stopPrapogation
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

fix mobile style, modal width
  src/App/components/Modal/Modal.st.css
Due: trigen-scripts lint:styles

add style only for small displays
  src/App/components/Modal/Modal.st.css
  src/App/components/Modal/crossButton.st.css
Due: trigen-scripts lint:styles

fix onClose
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

add check for onClose type
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

fix header click listener
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

fix listener
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

remove esc key
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

type fix
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

event fix
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

fix header click event listener
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

add removeEffects when componentWillUnmount
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

unsubscribeClick -> headerClick
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

variable names change
  src/App/components/Modal/Modal.tsx
Due: trigen-scripts lint:ts

fix header style
  src/App/blocks/Header/Header.st.css
Due: trigen-scripts lint:styles

Компонент Modal (#57)
  src/App/components/Modal/Modal.st.css
  src/App/components/Modal/Modal.stories.tsx
  src/App/components/Modal/Modal.tsx
  src/App/components/Modal/crossButton.st.css
  src/App/components/Modal/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add clicable props to profile card
  src/App/blocks/Speakers/Speakers.st.css
  src/App/blocks/Speakers/Speakers.tsx
  src/App/components/ProfileCard/ProfileCard.st.css
  src/App/components/ProfileCard/ProfileCard.stories.tsx
  src/App/components/ProfileCard/ProfileCard.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Path conditions:
  trigen-scripts lint:styles: any of: src/**/*.css
  trigen-scripts lint:ts: any of: src/**/*.{ts,tsx}
