Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

fix spaces, add link
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/TermsOfService/TermsOfService.tsx
Due: trigen-scripts lint:ts

add propTypes
  src/App/components/Share/Share.tsx
Due: trigen-scripts lint:ts

add path to pdf to locale jsons
  src/App/blocks/TermsOfService/TermsOfService.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

fix name for pdf
  src/App/blocks/TermsOfService/TermsOfService.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

remove package
  package.json
  src/App/components/Share/Share.st.css
  src/App/components/Share/Share.tsx
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

models structure fix
  src/App/models/Order.ts
  src/App/models/OrderItem.ts
  src/App/models/Ticket.ts
  src/App/models/User.ts
Due: trigen-scripts lint:ts

create user services
  src/App/components/UserDataProvider/UserDataProvider.tsx
  src/App/services/user/client.ts
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

fix saveToken function
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

final changes
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
  src/App/blocks/TermsOfService/TermsOfService.st.css
Due: trigen-scripts lint:styles

Блок и контейнер TermsOfService (#121)
  src/App/App.tsx
  src/App/blocks/CodeOfConduct/CodeOfConduct.st.css
  src/App/blocks/Speakers/Speakers.tsx
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/TermsOfService/TermsOfService.st.css
  src/App/blocks/TermsOfService/TermsOfService.stories.tsx
  src/App/blocks/TermsOfService/TermsOfService.tsx
  src/App/blocks/TermsOfService/index.ts
  src/App/components/ToggleNav/ToggleNav.st.css
  src/App/containers/Speakers/SpeakerModal/SpeakerModal.tsx
  src/App/containers/TermsOfService/TermsOfService.stories.tsx
  src/App/containers/TermsOfService/TermsOfService.tsx
  src/App/containers/TermsOfService/index.ts
  src/App/containers/TermsOfService/loadable.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/routes.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix on document click
  src/App/components/Share/Share.st.css
  src/App/components/Share/Share.tsx
  src/App/icons/close.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fick types
  src/App/models/Order.ts
  src/App/models/OrderItem.ts
Due: trigen-scripts lint:ts

Модели (#124)
  src/App/models/Order.ts
  src/App/models/OrderItem.ts
  src/App/models/Ticket.ts
  src/App/models/User.ts
Due: trigen-scripts lint:ts

add spec, adapter
  package.json
  src/App/models/User.ts
  src/App/services/logger.ts
  src/App/services/user/adapters.ts
  src/App/services/user/client.ts
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  yarn.lock
Due: trigen-scripts lint:ts

fix indents
  src/App/models/User.ts
Due: trigen-scripts lint:ts

add all adapters and spec
  src/App/models/Payment.ts
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
Due: trigen-scripts lint:ts

fix buy
  src/App/models/Payment.ts
  src/App/services/user/adapters.ts
  src/App/services/user/spec.ts
Due: trigen-scripts lint:ts

example fix buy
  src/App/models/Payment.ts
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
Due: trigen-scripts lint:ts

fix path
  src/App/services/user/spec.ts
Due: trigen-scripts lint:ts

change names
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

more names changes
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

Дата провайдер User (#125)
  package.json
  src/App/services/logger.ts
  src/App/services/user/adapters.ts
  src/App/services/user/client.ts
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  yarn.lock
Due: trigen-scripts lint:ts

enhancement/Header-login-modal
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/blocks/Header/validate.ts
  src/App/components/LoginModal/LoginModal.stories.tsx
  src/App/components/LoginModal/LoginModal.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

some little changes
  src/App/blocks/Header/HeaderLoginModal.tsx
Due: trigen-scripts lint:ts

remove notice from modal
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

component/User-store-segment
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
  src/App/store/User/index.ts
  src/App/store/User/register.ts
Due: trigen-scripts lint:ts

fix svg sizes, add titles to share links
  src/App/components/Share/Share.tsx
  src/App/icons/telegram.svg
  src/App/icons/twitter.svg
  src/App/icons/vk.svg
Due: trigen-scripts lint:ts

fix order props
  src/App/components/Share/Share.tsx
Due: trigen-scripts lint:ts

use deleteSearchParams for cance link
  src/App/blocks/Header/HeaderLoginModal.tsx
Due: trigen-scripts lint:ts

Добавить LoginModal в Header (#129)
  src/App/blocks/Header/Header.tsx
  src/App/blocks/Header/HeaderLoginModal.tsx
  src/App/blocks/Header/validate.ts
  src/App/components/LoginModal/LoginModal.stories.tsx
  src/App/components/LoginModal/LoginModal.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:ts

component/Tickets
  src/App/blocks/Tickets/Tickets.st.css
  src/App/blocks/Tickets/Tickets.stories.tsx
  src/App/blocks/Tickets/Tickets.tsx
  src/App/blocks/Tickets/index.ts
  src/App/components/TicketPreview/TickerPreviewPrimary/TickerPreviewPrimary.tsx
  src/App/components/TicketPreview/TicketPreview.st.css
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreview.tsx
  src/App/components/TicketPreview/TicketPreviewButton.tsx
  src/App/components/TicketPreview/TicketPreviewDescription.tsx
  src/App/components/TicketPreview/TicketPreviewPrice.tsx
  src/App/components/TicketPreview/TicketPreviewSale.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix svg
  src/App/icons/email.svg
Due: none

fix some logic, add saveToken when login etc
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.ts
  src/App/store/User/User.reducer.ts
  src/App/store/User/User.types.ts
Due: trigen-scripts lint:ts

Компонент Share (#126)
  src/App/components/ContactLink/ContactLink.tsx
  src/App/components/Share/Share.st.css
  src/App/components/Share/Share.stories.tsx
  src/App/components/Share/Share.tsx
  src/App/components/Share/index.ts
  src/App/icons/email.svg
  src/App/icons/facebook.svg
  src/App/icons/site.svg
  src/App/icons/telegram.svg
  src/App/icons/twitter.svg
  src/App/icons/vk.svg
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add some stuff
  src/App/blocks/Tickets/Tickets.st.css
  src/App/blocks/Tickets/Tickets.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement/Header-share
  src/App/blocks/Header/Header.st.css
  src/App/blocks/Header/Header.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix share title
  src/App/blocks/Header/Header.tsx
Due: trigen-scripts lint:ts

fix login, and fetchOrders functions
  src/App/services/user/index.ts
  src/App/services/user/spec.ts
  src/App/store/User/User.actions.ts
Due: trigen-scripts lint:ts

add links to locales
  src/App/blocks/Header/Header.tsx
  src/App/components/Share/Share.tsx
  src/App/locales/en.json
  src/App/locales/ru.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:ts

final fix
  src/App/blocks/SpeakersPromo/SpeakersPromo.st.css
Due: trigen-scripts lint:styles
