Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

init
  yarn.lock
Due: none

init
  src/manifest.json
Due: none

component typography
  .storybook/config.js
  .storybook/preview-head.html
  src/App/App.st.css
  src/App/App.stories.tsx
  src/App/components/variables.st.css
  src/index.html
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove comments
  src/App/App.stories.tsx
Due: trigen-scripts lint:ts

font-weight fix
  src/App/App.st.css
Due: trigen-scripts lint:styles

fix storybook config and App component, fix common style order, add indent to p tag
  .storybook/config.js
  src/App/App.st.css
  src/App/App.stories.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove line-height
  src/App/App.st.css
Due: trigen-scripts lint:styles

css order fix
  src/App/App.st.css
Due: trigen-scripts lint:styles

roboto mono only for h tags
  src/App/App.st.css
Due: trigen-scripts lint:styles

rename variables for roboto mono
  src/App/App.st.css
Due: trigen-scripts lint:styles

final changes
  src/App/App.stories.tsx
Due: trigen-scripts lint:ts

Базовые подготовки (#5)
  .storybook/config.js
  .storybook/preview-head.html
  src/App/App.st.css
  src/App/App.stories.tsx
  src/App/components/variables.st.css
  src/index.html
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component link
  .storybook/config.js
  .storybook/injectTestIcon.js
  .storybook/star.svg
  src/App/components/Link/Link.st.css
  src/App/components/Link/Link.stories.tsx
  src/App/components/Link/Link.tsx
  src/App/components/Link/index.ts
  src/App/components/common/unsetSize.ts
  src/App/components/mixins.st.css
  src/App/components/types.ts
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add faker urls, storybook components names fix
  src/App/App.stories.tsx
  src/App/components/Link/Link.stories.tsx
Due: trigen-scripts lint:ts

url fix
  src/App/components/Link/Link.stories.tsx
Due: trigen-scripts lint:ts

final changes
  src/App/components/Link/Link.stories.tsx
Due: trigen-scripts lint:ts

Компонент Link (#6)
  .storybook/config.js
  .storybook/injectTestIcon.js
  .storybook/star.svg
  src/App/App.stories.tsx
  src/App/components/Link/Link.st.css
  src/App/components/Link/Link.stories.tsx
  src/App/components/Link/Link.tsx
  src/App/components/Link/index.ts
  src/App/components/common/unsetSize.ts
  src/App/components/mixins.st.css
  src/App/components/types.ts
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component button
  src/App/components/Button/Button.st.css
  src/App/components/Button/Button.stories.tsx
  src/App/components/Button/Button.tsx
  src/App/components/Button/index.ts
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component button (#7)
  src/App/components/Button/Button.st.css
  src/App/components/Button/Button.stories.tsx
  src/App/components/Button/Button.tsx
  src/App/components/Button/index.ts
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement Link-disguised
  src/App/components/Link/Link.st.css
  src/App/components/Link/Link.stories.tsx
  src/App/components/Link/Link.tsx
  src/App/components/Link/mods/Link--disguised.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

enhancement Link-disguised (#8)
  src/App/components/Link/Link.st.css
  src/App/components/Link/Link.stories.tsx
  src/App/components/Link/Link.tsx
  src/App/components/Link/mods/Link--disguised.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component BurgerButton
  src/App/components/BurgerButton/BurgerButton.st.css
  src/App/components/BurgerButton/BurgerButton.stories.tsx
  src/App/components/BurgerButton/BurgerButton.tsx
  src/App/components/BurgerButton/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add story for inactive state and active state
  src/App/components/BurgerButton/BurgerButton.stories.tsx
Due: trigen-scripts lint:ts

add rel on height, position etc
  src/App/components/BurgerButton/BurgerButton.st.css
  src/App/components/BurgerButton/BurgerButton.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

currentColor add
  src/App/components/BurgerButton/BurgerButton.st.css
Due: trigen-scripts lint:styles

final changes
  src/App/components/BurgerButton/BurgerButton.st.css
  src/App/components/BurgerButton/BurgerButton.stories.tsx
  src/App/components/BurgerButton/BurgerButton.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Компонент BurgerButton (#9)
  src/App/components/BurgerButton/BurgerButton.st.css
  src/App/components/BurgerButton/BurgerButton.stories.tsx
  src/App/components/BurgerButton/BurgerButton.tsx
  src/App/components/BurgerButton/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component nav
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.stories.tsx
  src/App/components/Nav/Nav.tsx
  src/App/components/Nav/NavLink.tsx
  src/App/components/Nav/NavSeparator.tsx
  src/App/components/Nav/index.ts
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

remove separator, some style etc
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.stories.tsx
  src/App/components/Nav/Nav.tsx
  src/App/components/Nav/NavSeparator.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

add burger, add mobile_bg button etc
  .storybook/addons.js
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

props order fix
  src/App/components/Nav/Nav.tsx
Due: trigen-scripts lint:ts

add min-width style, add active attr to root , fix some css
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix lint warnings
  src/App/components/Nav/Nav.st.css
Due: trigen-scripts lint:styles

root close -> close
  src/App/components/Nav/Nav.st.css
Due: trigen-scripts lint:styles

wip
  src/App/components/TimerCat/TimerCat.stories.tsx
  src/App/components/TimerCat/TimerCat.tsx
  src/App/components/TimerCat/icon/counter.tsx
  src/App/components/TimerCat/icon/date.tsx
  src/App/components/TimerCat/icon/index.tsx
  src/App/components/TimerCat/index.ts
  src/App/components/TimerCat/types.ts
  src/App/data/index.ts
Due: trigen-scripts lint:ts

add storybook/addon-viewport packege
  package.json
  src/App/components/Nav/Nav.st.css
  src/App/components/variables.st.css
  yarn.lock
Due: trigen-scripts lint:styles

variable import order
  src/App/components/Nav/Nav.st.css
Due: trigen-scripts lint:styles

link disguised fix
  src/App/components/Link/Link.tsx
Due: trigen-scripts lint:ts

add z-index to burger, ad shadow to mobile menu
  src/App/components/Nav/Nav.st.css
  src/App/components/Nav/Nav.tsx
  src/App/components/variables.st.css
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

Main wip
  .storybook/addons.js
  package.json
  src/App/components/Main/Main.st.css
  src/App/components/Main/Main.stories.tsx
  src/App/components/Main/Main.tsx
  src/App/components/Main/index.ts
  src/App/components/Section/Section.st.css
  src/App/components/Section/Section.stories.tsx
  src/App/components/Section/Section.tsx
  src/App/components/Section/index.ts
  src/App/components/TimerCat/TimerCat.tsx
  src/App/components/TimerCat/animate.ts
  src/App/components/variables.st.css
  yarn.lock
Due: trigen-scripts lint:styles, trigen-scripts lint:ts
