Repository TrigenSoftware/DevFest-Siberia: changes, and which lint-staged commands are due for each by the changed paths.
All: trigen-scripts lint:styles, trigen-scripts lint:ts

.lintstagedrc:

{
	"src/**/*.css": [
		"trigen-scripts lint:styles",
		"git add"
	],
	"src/**/*.{ts,tsx}": [
		"trigen-scripts lint:ts",
		"git add"
	]
}

Enhancement/content update (#213)
  src/App/data/schedule/en.fetch.json
Due: none

format json
  src/App/data/schedule/en.fetch.json
Due: none

add functional for reservations stuff
  src/App/components/Schedule/ScheduleItem/ScheduleItem.tsx
  src/App/data/schedule/en.fetch.json
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.actions.ts
  src/App/store/Schedule/Schedule.reducer.ts
  src/App/store/Schedule/Schedule.types.ts
Due: trigen-scripts lint:ts

little reducer fix
  src/App/store/Schedule/Schedule.reducer.ts
Due: trigen-scripts lint:ts

rework setFavories and setReservation
  src/App/containers/Schedule/connected.ts
  src/App/containers/Schedule/mock.ts
  src/App/models/Reservation.mock.ts
  src/App/store/Schedule/Schedule.actions.mock.ts
  src/App/store/Schedule/Schedule.reducer.ts
Due: trigen-scripts lint:ts

add disabled work shop for test(stroybook)
  src/App/containers/Schedule/Schedule.tsx
  src/App/data/schedule/en.fetch.json
  src/App/models/Reservation.mock.ts
  src/App/store/Schedule/Schedule.reducer.ts
Due: trigen-scripts lint:ts

fix test
  src/App/services/schedule/spec.ts
Due: trigen-scripts lint:ts

fix date for price in locales
  src/App/data/locales/en.json
Due: none

change date for new ticket price
  src/App/data/locales/en.json
Due: none

change date for new ticket price (#215)
  src/App/data/locales/en.json
Due: none

enhancement/TicketPreview-afterparty
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreview.tsx
  src/App/components/TicketPreview/TicketPreviewAfterparty/TicketPreviewAfterparty.st.css
  src/App/components/TicketPreview/TicketPreviewAfterparty/TicketPreviewAfterparty.tsx
  src/App/components/TicketPreview/TicketPreviewAfterparty/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

change dates for tickets
  src/App/data/locales/en.json
Due: none

change dates for tickets (#218)
  src/App/data/locales/en.json
Due: none

Updated speakers & schedule
  src/App/data/schedule/en.fetch.json
  src/App/data/speakers/en.fetch.json
Due: none

add new russian locales
  src/App/data/locales/ru.json
Due: none

add email for team member
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

fix typo for russian locales
  src/App/data/locales/ru.json
Due: none

enhancement/Cabinet-nav
  src/App/containers/Cabinet/Cabinet.st.css
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/data/locales/en.json
  src/App/services/i18n/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix nav lang
  src/App/data/locales/en.json
Due: none

spaces fix
  src/App/containers/Cabinet/Cabinet.tsx
Due: trigen-scripts lint:ts

some link path fixes
  src/App/containers/Cabinet/Cabinet.tsx
  src/App/data/locales/ru.json
Due: trigen-scripts lint:ts

add ru speakers
  src/App/components/LoginModal/LoginModal.st.css
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
  src/App/data/speakers/ru.fetch.json
  src/App/services/speakers/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

storybook fix
  src/App/components/LoginModal/LoginModal.stories.tsx
Due: trigen-scripts lint:ts

change check place for locale
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/SpeakersPromo/types.ts
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/types.ts
  src/App/data/speakers/ru.fetch.json
  src/App/services/speakers/index.ts
  src/App/store/Speakers/Speakers.actions.ts
  src/App/store/Speakers/register.ts
Due: trigen-scripts lint:ts

remove console.log
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
Due: trigen-scripts lint:ts

change component name
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreview.tsx
  src/App/components/TicketPreview/TicketPreviewAfterparty/index.ts
  src/App/components/TicketPreview/TicketPreviewSecondary/TicketPreviewSecondary.st.css
  src/App/components/TicketPreview/TicketPreviewSecondary/TicketPreviewSecondary.tsx
  src/App/components/TicketPreview/TicketPreviewSecondary/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

get locale from context
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/containers/Speakers/Speakers.tsx
Due: trigen-scripts lint:ts

enhancement/Partners
  src/App/components/PartnerCard/PartnerCard.st.css
Due: trigen-scripts lint:styles

Добавить afterparty в компонент TicketPreview (#217)
  src/App/components/TicketPreview/TicketPreview.stories.tsx
  src/App/components/TicketPreview/TicketPreview.tsx
  src/App/components/TicketPreview/TicketPreviewSecondary/TicketPreviewSecondary.st.css
  src/App/components/TicketPreview/TicketPreviewSecondary/TicketPreviewSecondary.tsx
  src/App/components/TicketPreview/TicketPreviewSecondary/index.ts
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix img width, fix substr url
  src/App/components/PartnerCard/PartnerCard.st.css
  src/App/components/PartnerCard/PartnerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

component/buyAfterpartyTicket
  src/App/models/User.mock.ts
  src/App/models/User.ts
  src/App/services/user/adapters.ts
  src/App/services/user/index.ts
Due: trigen-scripts lint:ts

remove css from title
  src/App/components/PartnerCard/PartnerCard.st.css
  src/App/components/PartnerCard/PartnerCard.tsx
Due: trigen-scripts lint:styles, trigen-scripts lint:ts

fix linkLabel
  src/App/components/PartnerCard/PartnerCard.tsx
Due: trigen-scripts lint:ts

pull master locale fix
  src/App/data/locales/en.json
  src/App/data/locales/ru.json
Due: none

add ru schedule
  src/App/components/ToggleNav/ToggleNavLink.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/types.ts
  src/App/data/locales/ru.json
  src/App/data/schedule/en.fetch.json
  src/App/data/schedule/ru.fetch.json
  src/App/services/schedule/index.ts
  src/App/store/Schedule/Schedule.actions.ts
  src/App/store/Schedule/register.ts
Due: trigen-scripts lint:ts

mod intial segment loading for render
  package.json
  src/App/render.tsx
  src/App/store/Speakers/register.ts
  yarn.lock
Due: trigen-scripts lint:ts

locale indents fix
  src/App/data/schedule/en.fetch.json
  src/App/data/schedule/ru.fetch.json
Due: none

fix getLocalizedPath
  src/App/blocks/SpeakersPromo/SpeakersPromo.tsx
  src/App/blocks/SpeakersPromo/types.ts
  src/App/components/ToggleNav/ToggleNavLink.tsx
  src/App/containers/Schedule/Schedule.tsx
  src/App/containers/Schedule/types.ts
  src/App/containers/Speakers/Speakers.tsx
  src/App/containers/Speakers/types.ts
  src/App/data/schedule/en.fetch.json
  src/App/data/schedule/ru.fetch.json
  src/App/services/i18n/index.ts
  src/App/store/Schedule/register.ts
Due: trigen-scripts lint:ts
